{% block toolbar %}
    {% set icon %}
    <span>
        <img width="13" height="28" alt="Drupal"
             src="data:image/png;base64,{{ collector.icon }}">
        <a href="https://www.drupal.org">
            <span>{{ collector.version }}</span>
        </a>
        </span>
    {% endset %}
    {% set text %}
    {% spaceless %}
        <div class="sf-toolbar-info-piece">
            <b>{{ 'Drupal version'|t }}</b>
            <span>{{ collector.version }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>{{ 'Installed profile'|t }}</b>
            <span>{{ collector.profile }}</span>
        </div>

        {% if collector.getGitCommit %}
        <div class="sf-toolbar-info-piece">
            <b>{{ 'Git commit'|t }}</b>
            <span><abbr title="{{ collector.getGitCommit }}">{{ collector.getAbbrGitCommit }}</abbr></span>
        </div>
        {% endif %}

        <div class="sf-toolbar-info-piece">
            <span><a href="{{ collector.getConfigUrl }}"
                     title="{{ 'Configure Webprofiler'|t }}">{{ 'Configure Webprofiler'|t }}</a></span>
        </div>
        <div class="sf-toolbar-info-piece">
            <span><a href="{{ url("webprofiler.admin_list") }}"
                     title="{{ 'View latest reports'|t }}">{{ 'View latest reports'|t }}</a></span>
        </div>
        <hr/>
        <div class="sf-toolbar-info-piece">
            <span><a href="https://www.drupal.org/documentation">{{ 'Drupal Documentation'|t }}</a></span>
        </div>
        <div class="sf-toolbar-info-piece">
            <span><a href="https://www.drupal.org/contribute">{{ 'Get involved!'|t }}</a></span>
        </div>
    {% endspaceless %}
    {% endset %}

    {% if link %}
        {% set icon %}
        <a href="#">{{ icon }}</a>
        {% endset %}
    {% endif %}
    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

{% block panel %}
    <script id="drupal" type="text/template">
        <h2 class="panel__title">{{ 'Drupal'|t }}</h2>
        <div class="panel__container">

        </div>
    </script>
{% endblock %}

