{% block toolbar %}
    {# PHP Information #}
    {% set icon %}
    <a href="{{ url("webprofiler.dashboard", {profile: token}, {fragment: 'php_config'}) }}"
       title="{{ 'PHP config'|t }}">
        <img width="26" height="28" alt="{{ 'PHP config'|t }}"
             src="data:image/png;base64,{{ collector.icon }}">
    </a>
    {% endset %}
    {% set text %}
    {% spaceless %}
        <div class="sf-toolbar-info-piece sf-toolbar-info-php">
            <b>PHP</b>
            <span><a href="{{ url("system.php") }}">{{ collector.phpversion }}</a></span>
        </div>
        <div class="sf-toolbar-info-piece sf-toolbar-info-php-ext">
            <b>{{ 'PHP Extensions'|t }}</b>
            <span class="sf-toolbar-status sf-toolbar-status-{{ collector.hasxdebug ? 'green' : 'red' }}">xdebug</span>
            <span class="sf-toolbar-status sf-toolbar-status-{{ collector.hasaccelerator ? 'green' : 'red' }}">accel</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>{{ 'PHP SAPI'|t }}</b>
            <span>{{ collector.sapiName }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Token</b>
            <span>{{ token }}</span>
        </div>
    {% endspaceless %}
    {% endset %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

{% block panel %}
    <script id="php_config" type="text/template">
        <h2 class="panel__title">{{ 'PHP config'|t }}</h2>
        <div class="panel__container">
            <table class="table--duo">
                <% _.each( data, function( item, key ){ %>
                <tr>
                    <th><%- key %></th>
                    <td><%= Drupal.webprofiler.helpers.frm(item) %></td>
                </tr>
                <% }); %>
            </table>
        </div>
    </script>
{% endblock %}
