/**
 * @file
 * CSS for off-canvas dialog.
 *
 * @todo Move CSS into core dialog library https://www.drupal.org/node/2784443.
 */
/* Position the off-canvas dialog container outside the right of the viewport. */
.ui-dialog-off-canvas {
    box-sizing: border-box;
    height: 100%;
    overflow: visible;
}

/* Wrap the form that's inside the off-canvas dialog. */
.ui-dialog-off-canvas .ui-dialog-content {
    padding: 0 20px;
    /* Prevent horizontal scrollbar. */
    overflow-x: hidden;
    overflow-y: auto;
}
[dir="rtl"] .ui-dialog-off-canvas .ui-dialog-content {
    text-align: right;
}
