/**
 * @file
 * Table drag behavior for Settings Tray module.
 *
 * @see tabledrag.js
 */


/* Because base font sizes will vary widely across themes, to maintain consistency outside-in uses only pixels. */

.ui-dialog-outside-in body.drag {
  cursor: move;
}
.ui-dialog-outside-in tr.region-title {
  font-weight: normal;
}
.ui-dialog-outside-in tr.region-message {
  color: #fff;
}
.ui-dialog-outside-in tr.region-populated {
  display: none;
}
.ui-dialog-outside-in tr.add-new .tabledrag-changed {
  display: none;
}
.ui-dialog-outside-in .draggable a.tabledrag-handle {
  background-image: none;
  margin: 0;
  margin-left: 0; /* LTR */
  margin-right: 5px; /* LTR */
  height: auto;
  min-width: 20px;
  padding: 0;
  overflow: hidden;
  float: left; /* LTR */
  text-decoration: none;
  cursor: move;
}
[dir="rtl"] .ui-dialog-outside-in .draggable a.tabledrag-handle {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
.ui-dialog-outside-in a.tabledrag-handle .handle {
  /* Use lighter drag icon against dark background. */
  background-image: url(../../../misc/icons/bebebe/move.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  margin: 0;
  padding: 0;
  width: auto;
}
.ui-dialog-outside-in .draggable a.tabledrag-handle:hover .handle,
.ui-dialog-outside-in .draggable a.tabledrag-handle:focus .handle {
  background-image: url(../../../misc/icons/787878/move.svg);
  text-decoration: none;
}

.ui-dialog-outside-in .touchevents .draggable td {
  padding: 0 10px;
}
.ui-dialog-outside-in .touchevents .draggable .menu-item__link {
  display: inline-block;
  padding: 10px 0;
}
.ui-dialog-outside-in .touchevents a.tabledrag-handle {
  height: 44px;
  width: 40px;
}
.ui-dialog-outside-in .touchevents a.tabledrag-handle .handle {
  background-position: 40% 19px; /* LTR */
  height: 21px;
}
[dir="rtl"] .ui-dialog-outside-in .touch a.tabledrag-handle .handle {
  background-position: right 40% top 19px;
}
.ui-dialog-outside-in .touchevents .draggable.drag a.tabledrag-handle .handle {
  background-position: 50% -32px;
}
.ui-dialog-outside-in .tabledrag-toggle-weight-wrapper {
  text-align: right; /* LTR */
}
[dir="rtl"] .ui-dialog-outside-in .tabledrag-toggle-weight-wrapper {
  text-align: left;
}
.ui-dialog-outside-in .indentation {
  float: left; /* LTR */
  height: auto;
  margin: 0 3px 0 -10px; /* LTR */
  padding: 0 0 0 10px; /* LTR */
  width: auto;
}
[dir="rtl"] .ui-dialog-outside-in .indentation {
  float: right;
  margin: 0 -10px 0 3px;
  padding: 0 10px 0 0;
}
.ui-dialog-outside-in tr.drag {
  background-color: #555;
}
.ui-dialog-outside-in tr.drag-previous {
  background-color: #000;
}
