/**
 * @file
 * Visual styling for forms in the Settings Tray module's off canvas tray.
 */

.ui-dialog-outside-in label {
  line-height: normal;
  font-size: 12px;
  font-weight: normal;
  color: #ddd;
}
.ui-dialog-outside-in .description,
.ui-dialog-outside-in .form-item .description,
.ui-dialog-outside-in .details-description {
  color: #ddd;
  margin-top: 5px;
  font-size: 12px;
  font-style: normal;
}
.ui-dialog-outside-in .details-wrapper .description {
  color: #bbb;
}
.ui-dialog-outside-in .form-item {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* Set size and position for all inputs. */
.ui-dialog-outside-in .form-select,
.ui-dialog-outside-in .form-text,
.ui-dialog-outside-in .form-tel,
.ui-dialog-outside-in .form-email,
.ui-dialog-outside-in .form-url,
.ui-dialog-outside-in .form-search,
.ui-dialog-outside-in .form-number,
.ui-dialog-outside-in .form-color,
.ui-dialog-outside-in .form-file,
.ui-dialog-outside-in .form-textarea,
.ui-dialog-outside-in .form-date,
.ui-dialog-outside-in .form-time {
  box-sizing: border-box;
  max-width: 100%;
  padding: 6px;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-width: 1px;
  border-radius: 2px;
  outline: 0;
  display: block;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
/* Reduce contrast for fields against dark backround. */
.ui-dialog-outside-in .form-text,
.ui-dialog-outside-in .form-tel,
.ui-dialog-outside-in .form-email,
.ui-dialog-outside-in .form-url,
.ui-dialog-outside-in .form-search,
.ui-dialog-outside-in .form-number,
.ui-dialog-outside-in .form-color,
.ui-dialog-outside-in .form-file,
.ui-dialog-outside-in .form-textarea,
.ui-dialog-outside-in .form-date,
.ui-dialog-outside-in .form-time {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
  background-color: #eee;
  border-color: #333;
  color: #595959;
}
.ui-dialog-outside-in .form-text:focus,
.ui-dialog-outside-in .form-tel:focus,
.ui-dialog-outside-in .form-email:focus,
.ui-dialog-outside-in .form-url:focus,
.ui-dialog-outside-in .form-search:focus,
.ui-dialog-outside-in .form-number:focus,
.ui-dialog-outside-in .form-color:focus,
.ui-dialog-outside-in .form-file:focus,
.ui-dialog-outside-in .form-textarea:focus,
.ui-dialog-outside-in .form-date:focus,
.ui-dialog-outside-in .form-time:focus {
  border-color: #40b6ff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .125), 0 0 8px #40b6ff;
  background-color: #fff;
}
.ui-dialog-outside-in input[type="checkbox"],
.ui-dialog-outside-in .checkbox,
.ui-dialog-outside-in input[type="radio"],
.ui-dialog-outside-in .radio {
  position: static;
  margin: 0;
}
.ui-dialog-outside-in td .checkbox {
  display: table-cell;
  line-height: normal;
  vertical-align: middle;
}
.ui-dialog-outside-in .form-checkbox,
.ui-dialog-outside-in .form-radio {
  /* Add contrast for dark background. */
  box-shadow: 0 0 2px 1px #000;
}
.ui-dialog-outside-in input[type="radio"] {
  /* Add full circular radius. */
  border-radius: 50%;
}
.ui-dialog-outside-in .form-actions {
  text-align: center;
}
