/**
 * @file
 * Visual styling for tables in the Settings Tray module's off canvas tray.
 */

.ui-dialog-outside-in table {
  border: 0;
  border-collapse: collapse;
  min-width: 300px;
  margin-top: 0;
  /* Cancel out the padding of the parent to make the table full width and flush to the bottom. */
  margin-right: -20px;
  margin-left: -20px;
  margin-bottom: -10px;
}
.ui-dialog-outside-in tr th {
  padding: 2px 4px;
  background-color: transparent;
  border: 0;
  border-collapse: collapse;
  font-size: 12px;
  color: #bbb;
  text-align: left; /* LTR */
}
[dir="rtl"] .ui-dialog-outside-in tr th {
  text-align: right;
}
.ui-dialog-outside-in tr,
.ui-dialog-outside-in tr td {
  padding: 2px 4px;
  height: 35px;
  vertical-align: middle;
  text-align: left; /* LTR */
  border: 0px;
  border-style: solid;
  border-color: #777;
  border-bottom-width: 1px;
  background: none;
  background-color: transparent;
  font-size: 12px;
}
[dir="rtl"] .ui-dialog-outside-in tr th,
[dir="rtl"] .ui-dialog-outside-in tr td {
  text-align: right;
}
.ui-dialog-outside-in td a {
  display: block;
  max-width: 120px;
  overflow: hidden;
}
.ui-dialog.ui-dialog-outside-in tr td:first-child,
.ui-dialog.ui-dialog-outside-in tr th:first-child {
  padding-left: 20px; /* LTR */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
[dir="rtl"] .ui-dialog.ui-dialog-outside-in tr td:first-child,
[dir="rtl"] .ui-dialog.ui-dialog-outside-in tr th:first-child {
  padding-right: 20px;
}
.ui-dialog-outside-in tr.odd,
.ui-dialog-outside-in tr.even {
  background-image: none;
  background-color: transparent;
}
td.checkbox,
th.checkbox {
  text-align: center;
  width: 20px;
}

