{#
/**
 * @file
 * Default implementation for Font Awesome Icon field.
 *
 * Available variables:
 * - tag: the HTML tag being used to create the icon.
 * - icon: the name of the icon being used for templating.
 * - style: the Font Awesome style for the icon.
 * - settings: the additional Font Awesome style settings.
 * - transforms: Font Awesome power transforms.
 * - mask: Font Awesome mask.
 *
 * @ingroup themeable
 */
#}
<div class="fontawesome-icon">
  <{{tag }} class="{{ style }} {{ name }} {{ settings }}" data-fa-transform="{{ transforms }}" data-fa-mask="{{ mask }}"></{{ tag }}>
</div>
