{#
/**
 * @file
 * Theme override for an item list.
 *
 * Available variables:
 * - alignment: (optional) The alignment of the dropdown menu.
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The custom list style.
 *
 * @ingroup templates
 *
 * @see template_preprocess_item_list()
 */
#}
{%
  set classes = [
    'dropdown-menu',
    alignment == 'left' ? 'dropdown-menu-left',
    alignment == 'right' ? 'dropdown-menu-right',
  ]
%}
{% if items or empty -%}
  {%- if items -%}
    <{{ list_type }}{{ attributes.addClass(classes) }} role="menu">
      {%- for item in items -%}
        <li{{ item.attributes }}>{{ item.value }}</li>
      {%- endfor -%}
    </{{ list_type }}>
  {%- else -%}
    {{- empty -}}
  {%- endif -%}
{%- endif %}
