/***********Global styles and variables************/
/* Define all css variables here */
@font-face {
  font-family: "PT Sans";
  src: url("fonts/PTS55F.ttf");
}
/* line 5, ../sass/global/_global.scss */
body {
  background-color: #f5f5f5;
}

/* line 8, ../sass/global/_global.scss */
body, p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #777777;
}

/* line 15, ../sass/global/_global.scss */
h1.page-header {
  text-transform: uppercase;
  font-size: 30px;
}

/* line 20, ../sass/global/_global.scss */
h2.block-title {
  font-size: 22px;
  margin: 10px 0;
}

/* line 25, ../sass/global/_global.scss */
input.form-text {
  border-radius: 0;
}

/* line 29, ../sass/global/_global.scss */
.input-group .select-wrapper:first-child .form-control:first-child {
  border-radius: 0;
}

/* line 32, ../sass/global/_global.scss */
.input-group-addon:last-child {
  border-radius: 0;
  background-color: transparent;
  border: none;
}
/* line 36, ../sass/global/_global.scss */
.input-group-addon:last-child span {
  display: none;
}
/* line 39, ../sass/global/_global.scss */
.input-group-addon:last-child span.glyphicon-spin {
  display: block;
}

/* line 43, ../sass/global/_global.scss */
textarea.form-control {
  border-radius: 0;
}

/* line 47, ../sass/global/_global.scss */
body:not(.path-frontpage) .main-container {
  padding: 0 30px;
}
/* line 49, ../sass/global/_global.scss */
body:not(.path-frontpage) .main-container > .row {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #ffffff;
  padding: 50px 10px;
  min-height: 800px;
}

/* line 58, ../sass/global/_global.scss */
a:hover {
  text-decoration: none;
}

/* line 61, ../sass/global/_global.scss */
.scrolltotop {
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  background: #90d30f;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}
/* line 74, ../sass/global/_global.scss */
.scrolltotop:after {
  content: "^";
  color: #ffffff;
  font-size: 70px;
  top: 27px;
  right: 7px;
  position: absolute;
}
/* line 82, ../sass/global/_global.scss */
.scrolltotop:hover {
  text-decoration: none;
  background: #333333;
}

/* line 87, ../sass/global/_global.scss */
.form-actions .btn {
  border-radius: 0;
  padding: 10px;
  font-size: 22px;
  border-color: transparent;
}

/* line 93, ../sass/global/_global.scss */
.btn-success, .btn-primary, .btn-default {
  background-color: #90d30f;
  color: #ffffff;
}
/* line 96, ../sass/global/_global.scss */
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-default:hover, .btn-default:focus, .btn-default:active {
  background-color: #333333;
  color: #ffffff;
}

/* line 101, ../sass/global/_global.scss */
.btn-default.disabled:hover, .btn-default[disabled]:hover {
  background-color: #90d30f;
  color: #777777;
}

/* line 105, ../sass/global/_global.scss */
.panel {
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 110, ../sass/global/_global.scss */
.panel-default > .panel-heading {
  color: #ffffff;
  background-color: #8b8b8c;
  border: none;
  border-radius: 0;
}

/* line 117, ../sass/global/_global.scss */
.sticky-header thead {
  background-color: #90d30f;
}
/* line 119, ../sass/global/_global.scss */
.sticky-header thead tr > th {
  text-align: left;
  padding: 20px;
}
/* line 122, ../sass/global/_global.scss */
.sticky-header thead tr > th a {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 22px;
}

/* line 130, ../sass/global/_global.scss */
.vote-form .select-wrapper::after {
  content: '' !important;
  display: none !important;
}

/* line 135, ../sass/global/_global.scss */
.sc-main aside {
  padding-left: 5%;
}
/* line 139, ../sass/global/_global.scss */
.sc-main .block .block-title {
  text-align: left;
  font-size: 22px;
  margin: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}
/* line 146, ../sass/global/_global.scss */
.sc-main section.block-views, .sc-main .contact-message-school-contact-form-form {
  padding: 10px;
  box-shadow: 1px 1px 5px 0px #cccbcb;
  margin-bottom: 20px;
}
/* line 151, ../sass/global/_global.scss */
.sc-main .school-contact {
  float: right;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

/* line 1, ../sass/global/_menu.scss */
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  border: none !important;
}
/* line 6, ../sass/global/_menu.scss */
.navbar-default .navbar-nav > li {
  min-width: 140px;
  text-align: center;
}
/* line 9, ../sass/global/_menu.scss */
.navbar-default .navbar-nav > li:first-child > a, .navbar-default .navbar-nav > li:last-child > a {
  background-color: #90d30f;
}
/* line 12, ../sass/global/_menu.scss */
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 20px;
  min-height: 60px;
  padding: 20px 10px;
}
/* line 17, ../sass/global/_menu.scss */
.navbar-default .navbar-nav > li > a.yellow {
  background-color: #ffcc00;
}
/* line 20, ../sass/global/_menu.scss */
.navbar-default .navbar-nav > li > a.blue {
  background-color: #128be0;
}
/* line 23, ../sass/global/_menu.scss */
.navbar-default .navbar-nav > li > a.red {
  background-color: #ff5502;
}
/* line 26, ../sass/global/_menu.scss */
.navbar-default .navbar-nav > li > a.green {
  background-color: #90d30f;
}
/* line 29, ../sass/global/_menu.scss */
.navbar-default .navbar-nav > li > a.is-active {
  background-color: #333333;
  color: #ffffff;
}
/* line 33, ../sass/global/_menu.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  background-color: #333333;
}
/* line 39, ../sass/global/_menu.scss */
.navbar-default .navbar-nav .active > a {
  color: #ffffff;
}
/* line 41, ../sass/global/_menu.scss */
.navbar-default .navbar-nav .active > a:hover {
  background-color: #333333;
  color: #ffffff;
}
/* line 47, ../sass/global/_menu.scss */
.navbar-default .navbar-header {
  background-color: #ffffff;
  padding: 5px;
}
/* line 50, ../sass/global/_menu.scss */
.navbar-default .navbar-header .navbar-brand {
  font-size: 35px;
  font-weight: 600;
  color: #128be0;
}
/* line 60, ../sass/global/_menu.scss */
.navbar-default .navbar-collapse {
  float: right;
  margin-right: -15px;
}

/* line 1, ../sass/global/_footer.scss */
.footer {
  background-color: #f5f5f5;
  border: none;
  margin-top: 0px;
}
/* line 5, ../sass/global/_footer.scss */
.footer .region {
  padding: 20px;
}
/* line 8, ../sass/global/_footer.scss */
.footer h2.block-title {
  text-transform: uppercase;
  text-align: left !important;
}
/* line 12, ../sass/global/_footer.scss */
.footer button.form-submit {
  background-color: #000;
  border-radius: 0;
  color: #FFF;
  text-transform: uppercase;
  border: none;
  height: 40px;
  min-width: 130px;
  font-size: 15px;
}
/* line 24, ../sass/global/_footer.scss */
.footer .simplenews-subscriber-form .form-type-email label {
  display: none;
}
/* line 27, ../sass/global/_footer.scss */
.footer .simplenews-subscriber-form .form-type-email input {
  border: 1px solid #000;
  border-radius: 0;
  background-color: transparent;
  height: 40px;
  width: 50%;
}
/* line 37, ../sass/global/_footer.scss */
.footer .contact-message-form input, .footer .contact-message-form textarea {
  background: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #333;
  border-radius: 0;
}
/* line 44, ../sass/global/_footer.scss */
.footer .contact-message-form textarea {
  height: 50px;
}
/* line 47, ../sass/global/_footer.scss */
.footer .contact-message-form button#edit-preview {
  display: none;
}
/* line 51, ../sass/global/_footer.scss */
.footer #block-followus {
  margin-top: 22px;
}
/* line 54, ../sass/global/_footer.scss */
.footer .icon-button {
  color: #847d7d;
  margin-right: 15px;
  font-size: 2em;
}
/* line 60, ../sass/global/_footer.scss */
.footer .icon-button.facebook:hover {
  color: #3B5998;
}
/* line 63, ../sass/global/_footer.scss */
.footer .icon-button.twitter:hover {
  color: #1DA1F2;
}
/* line 66, ../sass/global/_footer.scss */
.footer .icon-button.youtube:hover {
  color: #ff0000;
}
/* line 69, ../sass/global/_footer.scss */
.footer .icon-button.linkedin:hover {
  color: #0077B5;
}
/* line 72, ../sass/global/_footer.scss */
.footer .icon-button.google-plus:hover {
  color: #DB4437;
}

/* line 7, ../sass/style.scss */
.path-frontpage .main-container {
  margin-top: 260px;
}

/***********Video background***********************/
/* line 1, ../sass/frontpage/_video_bg.scss */
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

/* line 10, ../sass/frontpage/_video_bg.scss */
.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/***********School search form block***************/
/* line 1, ../sass/frontpage/_search_form.scss */
.block-views-exposed-filter-blockfront-school-search-page-2 {
  padding: 0px 30px;
}
/* line 3, ../sass/frontpage/_search_form.scss */
.block-views-exposed-filter-blockfront-school-search-page-2 #views-exposed-form-front-school-search-page-2 {
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  text-align: center;
}
/* line 9, ../sass/frontpage/_search_form.scss */
.block-views-exposed-filter-blockfront-school-search-page-2 label {
  float: left;
  text-transform: uppercase;
}
/* line 14, ../sass/frontpage/_search_form.scss */
.block-views-exposed-filter-blockfront-school-search-page-2 .form-item .input-group {
  float: left;
  clear: both;
}
/* line 17, ../sass/frontpage/_search_form.scss */
.block-views-exposed-filter-blockfront-school-search-page-2 .form-item .input-group input {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #337ab7;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 26, ../sass/frontpage/_search_form.scss */
.block-views-exposed-filter-blockfront-school-search-page-2 .form-item .input-group-addon {
  background-color: transparent;
  border: none;
  right: -10px;
  position: absolute;
}
/* line 31, ../sass/frontpage/_search_form.scss */
.block-views-exposed-filter-blockfront-school-search-page-2 .form-item .input-group-addon span {
  display: none;
}
/* line 33, ../sass/frontpage/_search_form.scss */
.block-views-exposed-filter-blockfront-school-search-page-2 .form-item .input-group-addon span.glyphicon-spin {
  display: block;
}
/* line 40, ../sass/frontpage/_search_form.scss */
.block-views-exposed-filter-blockfront-school-search-page-2 .form-item-field-school-type-target-id .select-wrapper {
  float: left;
  clear: both;
}
/* line 44, ../sass/frontpage/_search_form.scss */
.block-views-exposed-filter-blockfront-school-search-page-2 .form-item-field-school-type-target-id select {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #337ab7;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 53, ../sass/frontpage/_search_form.scss */
.block-views-exposed-filter-blockfront-school-search-page-2 .form-item-combine, .block-views-exposed-filter-blockfront-school-search-page-2 .form-item-field-school-type-target-id, .block-views-exposed-filter-blockfront-school-search-page-2 .form-actions {
  margin-left: 30px;
}
/* line 56, ../sass/frontpage/_search_form.scss */
.block-views-exposed-filter-blockfront-school-search-page-2 .form-submit {
  border-radius: 0;
  text-transform: uppercase;
  min-height: 50px;
  border: none;
  background-color: #337ab7;
}

/*****************Service block********************/
/* line 1, ../sass/frontpage/_services.scss */
.box2 {
  margin: 70px 0px;
}
/* line 3, ../sass/frontpage/_services.scss */
.box2 .view-fifth {
  overflow: hidden;
  position: relative;
  text-align: left;
  cursor: default;
  background: #ffffff;
  padding: 20px;
  min-height: 340px;
}
/* line 11, ../sass/frontpage/_services.scss */
.box2 .view-fifth i {
  color: #ffffff;
  font-size: 22px;
  padding-top: 0.8em;
}
/* line 17, ../sass/frontpage/_services.scss */
.box2 .view .mask {
  width: 100%;
  /*padding: 10px;*/
  color: #ffffff;
  left: 0px;
  /*position: absolute;*/
  overflow: hidden;
  /*-webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity = 100);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;*/
}
/* line 38, ../sass/frontpage/_services.scss */
.box2 .view-fifth:hover .mask {
  /*-webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  position: relative;*/
}
/* line 46, ../sass/frontpage/_services.scss */
.box2 h3 {
  color: #ffffff;
  font-size: 27px;
  min-height: 105px;
  text-transform: uppercase;
  line-height: 1.3;
  margin-top: 20px;
  text-align: center;
}
/* line 55, ../sass/frontpage/_services.scss */
.box2 h4 {
  font-size: 18px;
  border-bottom: 1px solid #22A4AF;
  color: #ffffff;
  line-height: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 63, ../sass/frontpage/_services.scss */
.box2 p {
  color: #ffffff;
}
/* line 66, ../sass/frontpage/_services.scss */
.box2 .s-1 .view-fifth {
  background-color: #ff5502;
}
/* line 69, ../sass/frontpage/_services.scss */
.box2 .s-2 .view-fifth {
  background-color: #128be0;
}
/* line 72, ../sass/frontpage/_services.scss */
.box2 .s-3 .view-fifth {
  background-color: #90d30f;
}

/*************Top schools block********************/
/* line 1, ../sass/frontpage/_top_schools.scss */
.school_content {
  margin-top: -230px;
  z-index: 0;
  background-color: #f5f5f5;
}
/* line 5, ../sass/frontpage/_top_schools.scss */
.school_content .region {
  margin-top: 180px;
  margin-bottom: 20px;
}
/* line 10, ../sass/frontpage/_top_schools.scss */
.school_content .view-top-rated-schools .st-1, .school_content .view-top-rated-schools .st-2 {
  min-height: 320px;
  margin-bottom: 30px;
}
/* line 15, ../sass/frontpage/_top_schools.scss */
.school_content .view-top-rated-schools .st-1 .st-1-in {
  background-color: #ffffff;
  padding: 20px;
  min-height: 320px;
}
/* line 20, ../sass/frontpage/_top_schools.scss */
.school_content .view-top-rated-schools .st-1 .st-1-in .rm-lnk a {
  margin: 15px 0 0 0;
  display: inline-block;
  position: relative;
  padding: 20px 30px;
  font-size: 22px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
  background: #90d30f;
}
/* line 35, ../sass/frontpage/_top_schools.scss */
.school_content .view-top-rated-schools .st-1 .text-2 a {
  color: #333333;
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -0.04em;
  text-transform: capitalize;
}
/* line 44, ../sass/frontpage/_top_schools.scss */
.school_content .view-top-rated-schools .st-1 .st-block {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}
/* line 50, ../sass/frontpage/_top_schools.scss */
.school_content .view-top-rated-schools .st-2 img {
  height: 320px;
}
/* line 54, ../sass/frontpage/_top_schools.scss */
.school_content .view-top-rated-schools .views-row.even .st-1 {
  float: right !important;
}
/* line 57, ../sass/frontpage/_top_schools.scss */
.school_content .view-top-rated-schools .views-row.even .st-1 .rm-lnk a {
  background-color: #ffcc00;
}

/*****************Blog block***********************/
/* line 1, ../sass/frontpage/_blog_content.scss */
.blog_content {
  background: #7eadec url("../video/school-bg7.jpeg") center center/cover no-repeat;
  background-attachment: fixed;
  min-height: 200px;
}
/* line 5, ../sass/frontpage/_blog_content.scss */
.blog_content .region {
  padding: 20px;
}

/* line 9, ../sass/frontpage/_blog_content.scss */
.compare-school-block {
  min-height: 120px;
  background-color: #ff5502;
  padding: 30px;
  margin: 50px 0px;
}

/* line 15, ../sass/frontpage/_blog_content.scss */
.sp-text {
  padding: 5px;
}
/* line 17, ../sass/frontpage/_blog_content.scss */
.sp-text .sp1 {
  float: left;
  font-size: 22px;
  color: #ffffff;
  padding: 17px;
  line-height: 25px;
}
/* line 24, ../sass/frontpage/_blog_content.scss */
.sp-text .sp2 {
  float: right;
}
/* line 26, ../sass/frontpage/_blog_content.scss */
.sp-text .sp2 .sp-link {
  float: right;
  min-height: 60px;
  background-color: #90d30f;
  font-size: 22px;
  color: #ffffff;
  padding: 17px;
  line-height: 25px;
}
/* line 34, ../sass/frontpage/_blog_content.scss */
.sp-text .sp2 .sp-link:hover {
  background-color: #333333;
  text-decoration: none;
}

/* line 41, ../sass/frontpage/_blog_content.scss */
.path-frontpage .block h2.block-title {
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/*************Featured school block****************/
/* line 1, ../sass/frontpage/_featured_school.scss */
.featured_school {
  background-color: #7eadec;
  min-height: 450px;
}
/* line 4, ../sass/frontpage/_featured_school.scss */
.featured_school .region {
  padding: 20px;
}

/* line 8, ../sass/frontpage/_featured_school.scss */
.block-views-blockfeatured-schools-block-1 {
  margin: 20px 0px 50px 0px;
}

/* line 12, ../sass/frontpage/_featured_school.scss */
.featured_school .views-row, .new_school .views-row {
  /*background-color: $color_white;*/
  min-height: 250px;
  /*padding: 20px;*/
}
/* line 16, ../sass/frontpage/_featured_school.scss */
.featured_school .views-row .views-field-nothing, .new_school .views-row .views-field-nothing {
  min-height: 240px;
  padding: 10px;
  background-color: #ffffff;
}

/* line 25, ../sass/frontpage/_featured_school.scss */
.views-row .views-field-nothing .fs-block {
  text-align: center;
}
/* line 27, ../sass/frontpage/_featured_school.scss */
.views-row .views-field-nothing .fs-block .fs-img img {
  margin: auto;
}
/* line 30, ../sass/frontpage/_featured_school.scss */
.views-row .views-field-nothing .fs-block .fs-title {
  padding: 10px 10px;
  margin: 10px 6px;
  /*background-color: $color_black_light;*/
  color: #ffffff;
  min-height: 70px;
  margin-bottom: 0px;
}
/* line 37, ../sass/frontpage/_featured_school.scss */
.views-row .views-field-nothing .fs-block .fs-title:hover {
  background-color: #333333;
  text-decoration: none;
}
/* line 42, ../sass/frontpage/_featured_school.scss */
.views-row .views-field-nothing .fs-block:hover {
  text-decoration: none;
}
/* line 47, ../sass/frontpage/_featured_school.scss */
.views-row:nth-child(1) .fs-title {
  background-color: #ff5502;
}
/* line 50, ../sass/frontpage/_featured_school.scss */
.views-row:nth-child(2) .fs-title {
  background-color: #128be0;
}
/* line 53, ../sass/frontpage/_featured_school.scss */
.views-row:nth-child(3) .fs-title {
  background-color: #90d30f;
}
/* line 56, ../sass/frontpage/_featured_school.scss */
.views-row:nth-child(4) .fs-title {
  background-color: #ffcc00;
}

/*************Featured school block****************/
/* line 1, ../sass/frontpage/_new_school.scss */
.new_school {
  background-color: #45c767;
  min-height: 450px;
}
/* line 4, ../sass/frontpage/_new_school.scss */
.new_school .region {
  padding: 20px;
}

/* line 8, ../sass/frontpage/_new_school.scss */
.block-views-blocknew-schools-block-1 {
  margin: 20px 0px 50px 0px;
}

/*************Featured school block****************/
/* line 2, ../sass/pages/_ask_question.scss */
.ask-question .cke_bottom, .ask-question .filter-wrapper {
  display: none;
}
/* line 5, ../sass/pages/_ask_question.scss */
.ask-question .comment-forbidden {
  display: none;
}
/* line 8, ../sass/pages/_ask_question.scss */
.ask-question .field {
  margin-bottom: 10px;
}
/* line 10, ../sass/pages/_ask_question.scss */
.ask-question .field.field--name-field-qa-school {
  margin-bottom: 10px;
  background-color: #f5f5f5;
  padding: 10px;
}

/* line 18, ../sass/pages/_ask_question.scss */
.view-id-questions_and_answers .views-row {
  box-shadow: 0px 2px 0px 0px #f5f5f5;
  margin-bottom: 15px;
}
/* line 21, ../sass/pages/_ask_question.scss */
.view-id-questions_and_answers .views-row .rc-row {
  font-size: 12px;
}
/* line 24, ../sass/pages/_ask_question.scss */
.view-id-questions_and_answers .views-row .rc-row .rc-item.comment {
  float: right;
}

/* line 32, ../sass/pages/_ask_question.scss */
.view-related-schools .views-row {
  box-shadow: 0px 2px 0px 0px #f5f5f5;
}
/* line 34, ../sass/pages/_ask_question.scss */
.view-related-schools .views-row .views-field-title {
  text-transform: capitalize;
}

/* line 40, ../sass/pages/_ask_question.scss */
.block-views-exposed-filter-blockquestions-and-answers-page-3 .form-text {
  min-width: 300px;
}
/* line 43, ../sass/pages/_ask_question.scss */
.block-views-exposed-filter-blockquestions-and-answers-page-3 .form-actions {
  margin-left: -5px;
  height: 36px;
}
/* line 46, ../sass/pages/_ask_question.scss */
.block-views-exposed-filter-blockquestions-and-answers-page-3 .form-actions button.form-submit {
  padding: 1px 10px;
}

/* line 52, ../sass/pages/_ask_question.scss */
#views-exposed-form-questions-and-answers-page-2 .form-text {
  height: 42px;
}
/* line 55, ../sass/pages/_ask_question.scss */
#views-exposed-form-questions-and-answers-page-2 button.form-submit {
  margin-left: -5px;
  padding: 6px 15px;
  font-size: 20px;
}

/* line 63, ../sass/pages/_ask_question.scss */
.view-id-questions_and_answers.view-display-id-page_2 .views-row .views-field-title {
  font-size: 20px;
}

/***************Ask question page******************/
/* line 1, ../sass/frontpage/_rate_school.scss */
.rate_school {
  background: #45c767 url("../video/school-bg5.jpg") center center/cover no-repeat;
  background-attachment: fixed;
  min-height: 200px;
}
/* line 5, ../sass/frontpage/_rate_school.scss */
.rate_school .region {
  padding: 20px;
}

/* line 9, ../sass/frontpage/_rate_school.scss */
.rs-block {
  min-height: 120px;
  background-color: #ff5502;
  padding: 30px;
  margin: 50px 0px;
}

/***********School comparison page*****************/
/* line 1, ../sass/pages/_comparison.scss */
.form-field-wrapper {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
/* line 5, ../sass/pages/_comparison.scss */
.form-field-wrapper .form-actions {
  margin-top: 10px;
  text-align: center;
}
/* line 8, ../sass/pages/_comparison.scss */
.form-field-wrapper .form-actions .btn {
  min-width: 300px;
}

/* line 13, ../sass/pages/_comparison.scss */
#js-ajax-elements-wrapper {
  margin-top: 10px;
}

/* line 17, ../sass/pages/_comparison.scss */
.comparison-table thead > tr > th {
  text-align: left;
  vertical-align: middle;
  padding: 20px;
}
/* line 21, ../sass/pages/_comparison.scss */
.comparison-table thead > tr > th a {
  text-transform: capitalize;
  font-size: 22px;
}
/* line 24, ../sass/pages/_comparison.scss */
.comparison-table thead > tr > th a:hover {
  text-decoration: none;
}
/* line 29, ../sass/pages/_comparison.scss */
.comparison-table tbody > tr > td {
  vertical-align: middle;
  text-align: left;
}
/* line 33, ../sass/pages/_comparison.scss */
.comparison-table .paragraph--type--fees-range {
  margin-bottom: 10px;
}

/*************School detail page*******************/
/* line 1, ../sass/pages/_school.scss */
.school-top {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(79, 79, 80, 0.77)), url("../video/school-header.jpeg") center center/cover no-repeat;
  min-height: 300px;
  position: relative;
  padding: 20px;
}
/* line 8, ../sass/pages/_school.scss */
.school-top .school-top-inner {
  position: absolute;
  bottom: 10px;
}
/* line 12, ../sass/pages/_school.scss */
.school-top .school-top-inner .school-contact {
  position: absolute;
  bottom: 20px;
  right: 130px;
}
/* line 18, ../sass/pages/_school.scss */
.school-top .school-title {
  position: absolute;
  bottom: 50px;
}
/* line 21, ../sass/pages/_school.scss */
.school-top .school-title .field--name-field-school-logo {
  float: left;
  margin-right: 20px;
}
/* line 28, ../sass/pages/_school.scss */
.school-top .school-title .page-header {
  color: #fff;
  border: none;
  font-size: 40px;
  float: left;
  margin-top: 110px;
}
/* line 36, ../sass/pages/_school.scss */
.school-top .school-field {
  position: absolute;
  bottom: 0px;
}
/* line 39, ../sass/pages/_school.scss */
.school-top .school-field .votingapi-widgets.fivestar a {
  font-size: 50px;
  margin-right: 25px;
}

/* line 46, ../sass/pages/_school.scss */
article.school .field {
  margin-bottom: 15px;
}
/* line 50, ../sass/pages/_school.scss */
article.school .field.field--name-field-school-levels-offered .field__items .field--item {
  float: left;
  margin-right: 10px;
  border: 1px solid #ddd;
  padding: 5px;
  background-color: #f5f5f5;
}
/* line 59, ../sass/pages/_school.scss */
article.school .field.field--name-field-about-your-school {
  clear: both;
  margin-top: 55px;
}
/* line 64, ../sass/pages/_school.scss */
article.school .form-item.panel-default {
  margin-top: 40px;
}
/* line 67, ../sass/pages/_school.scss */
article.school div.slick::before {
  content: "Gallery";
  font-weight: bold;
}

/* line 72, ../sass/pages/_school.scss */
.marquee.view-school-news {
  height: 100px;
  width: 100%;
  overflow: hidden;
}
/* line 76, ../sass/pages/_school.scss */
.marquee.view-school-news .views-row {
  margin-bottom: 5px;
}
/* line 79, ../sass/pages/_school.scss */
.marquee.view-school-news .views-row .views-field-title a::before {
  content: "> ";
  color: #333;
  font-weight: 600;
}

/*************School login page********************/
/* line 2, ../sass/pages/_login.scss */
body.path-user .main-container {
  padding: 0 30px;
}
/* line 4, ../sass/pages/_login.scss */
body.path-user .main-container > .row {
  margin-left: 0px;
  margin-right: 0px;
  background-color: transparent;
  padding: 50px 0px;
  min-height: 800px;
}

/* line 13, ../sass/pages/_login.scss */
.auth_box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  padding-bottom: 30px;
}
/* line 17, ../sass/pages/_login.scss */
.auth_box .page-header {
  border: none;
}
/* line 20, ../sass/pages/_login.scss */
.auth_box .login_top_part {
  min-height: 140px;
  background: url("../video/school-header.jpeg") center center/cover no-repeat;
  display: table;
  table-layout: fixed;
  width: 100%;
}
/* line 26, ../sass/pages/_login.scss */
.auth_box .login_top_part .the_logo {
  display: table-cell;
  vertical-align: middle;
  font-size: 45px;
  font-weight: 500;
  color: #128be0;
}
/* line 34, ../sass/pages/_login.scss */
.auth_box .auth-box-inner {
  padding: 20px 0;
}
/* line 37, ../sass/pages/_login.scss */
.auth_box .social-login-link {
  margin-top: 10px;
}
/* line 39, ../sass/pages/_login.scss */
.auth_box .social-login-link .social-google {
  background-color: #dd4b39;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}
/* line 45, ../sass/pages/_login.scss */
.auth_box .social-login-link .social-facebook {
  background-color: #3b5998;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 51, ../sass/pages/_login.scss */
.auth_box .social-login-link a {
  color: #fff;
}
/* line 56, ../sass/pages/_login.scss */
.auth_box.register .social-google, .auth_box.password .social-google {
  margin-top: 35px;
}

/* line 61, ../sass/pages/_login.scss */
.hr-or {
  margin-top: 90px;
}

/* line 64, ../sass/pages/_login.scss */
h4.hr-or span {
  background: #ffffff;
  padding: 0 20px;
  text-align: Center;
  color: #b7b4b4;
}

/* line 70, ../sass/pages/_login.scss */
h4.hr-or + * {
  border-top: solid 2px #f5f5f5;
  margin-top: -20px;
}

/**************************************************/
/*****            Media query           ***********/
/**************************************************/
@media (min-aspect-ratio: 16 / 9) {
  /* line 2, ../sass/media_queries/frontpage/_video_bg.scss */
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16 / 9) {
  /* line 9, ../sass/media_queries/frontpage/_video_bg.scss */
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}
@media (max-width: 767px) {
  /* line 16, ../sass/media_queries/frontpage/_video_bg.scss */
  .fullscreen-bg {
    background: url("../video/school-bg.jpeg") center center/cover no-repeat;
  }

  /* line 19, ../sass/media_queries/frontpage/_video_bg.scss */
  .fullscreen-bg__video {
    display: none;
  }
}
@media (max-width: 767px) {
  /* menu */
  /* line 3, ../sass/media_queries/frontpage/_frontpage.scss */
  .navbar-default .navbar-header .navbar-brand {
    font-size: 28px;
  }

  /* line 6, ../sass/media_queries/frontpage/_frontpage.scss */
  .navbar-default .navbar-collapse {
    z-index: 9999;
    position: fixed;
    right: 2px;
  }

  /* line 12, ../sass/media_queries/frontpage/_frontpage.scss */
  .navbar-nav {
    margin: 0;
  }

  /* line 15, ../sass/media_queries/frontpage/_frontpage.scss */
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }

  /* line 18, ../sass/media_queries/frontpage/_frontpage.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #128be0;
  }

  /* frontpage search form */
  /* line 23, ../sass/media_queries/frontpage/_frontpage.scss */
  .block-views-exposed-filter-blockfront-school-search-page-2 .form-item .input-group {
    float: none;
    clear: both;
    width: 100%;
  }
  /* line 28, ../sass/media_queries/frontpage/_frontpage.scss */
  .block-views-exposed-filter-blockfront-school-search-page-2 .form-item-combine, .block-views-exposed-filter-blockfront-school-search-page-2 .form-item-field-school-type-target-id, .block-views-exposed-filter-blockfront-school-search-page-2 .form-actions {
    margin-left: 0px;
    clear: both;
  }
  /* line 33, ../sass/media_queries/frontpage/_frontpage.scss */
  .block-views-exposed-filter-blockfront-school-search-page-2 .form-item-field-school-type-target-id .select-wrapper {
    float: none;
    clear: both;
    width: 100%;
  }
  /* line 38, ../sass/media_queries/frontpage/_frontpage.scss */
  .block-views-exposed-filter-blockfront-school-search-page-2 .form-item-field-school-type-target-id select {
    min-width: 245px;
  }

  /* service block */
  /* line 45, ../sass/media_queries/frontpage/_frontpage.scss */
  .box2 .view-fifth {
    margin-bottom: 15px;
    padding: 15px;
    text-align: justify;
    min-height: 300px;
  }
  /* line 51, ../sass/media_queries/frontpage/_frontpage.scss */
  .box2 h3 {
    font-size: 20px;
    min-height: 70px;
    margin-top: 10px;
  }

  /* top rated schools block */
  /* line 60, ../sass/media_queries/frontpage/_frontpage.scss */
  .school_content .view-top-rated-schools .views-row.even .st-1 {
    float: none;
  }
  /* line 63, ../sass/media_queries/frontpage/_frontpage.scss */
  .school_content .view-top-rated-schools .views-row {
    margin-bottom: 30px;
  }
  /* line 66, ../sass/media_queries/frontpage/_frontpage.scss */
  .school_content .view-top-rated-schools .st-1-in {
    padding: 15px;
    min-height: 290px;
  }
  /* line 69, ../sass/media_queries/frontpage/_frontpage.scss */
  .school_content .view-top-rated-schools .st-1-in .rm-lnk {
    text-align: center;
  }
  /* line 71, ../sass/media_queries/frontpage/_frontpage.scss */
  .school_content .view-top-rated-schools .st-1-in .rm-lnk a {
    margin: 20px 0 0 0;
    padding: 15px 25px;
    font-size: 20px;
    line-height: 20px;
  }
  /* line 79, ../sass/media_queries/frontpage/_frontpage.scss */
  .school_content .view-top-rated-schools .st-1 {
    min-height: 290px;
    margin-bottom: 15px;
  }
  /* line 82, ../sass/media_queries/frontpage/_frontpage.scss */
  .school_content .view-top-rated-schools .st-1 .text-2 {
    margin-top: 0;
    text-align: center;
  }
  /* line 85, ../sass/media_queries/frontpage/_frontpage.scss */
  .school_content .view-top-rated-schools .st-1 .text-2 a {
    font-size: 30px;
    line-height: 30px;
  }
  /* line 91, ../sass/media_queries/frontpage/_frontpage.scss */
  .school_content .view-top-rated-schools .st-2 {
    min-height: auto;
  }
  /* line 93, ../sass/media_queries/frontpage/_frontpage.scss */
  .school_content .view-top-rated-schools .st-2 img {
    height: auto;
  }

  /* compare block and ask question block */
  /* line 100, ../sass/media_queries/frontpage/_frontpage.scss */
  .path-frontpage .main-container {
    margin-top: 120px;
  }

  /* line 103, ../sass/media_queries/frontpage/_frontpage.scss */
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }

  /* line 106, ../sass/media_queries/frontpage/_frontpage.scss */
  .compare-school-block {
    min-height: 95px;
    padding: 15px;
    margin: 30px 0px;
  }

  /* line 111, ../sass/media_queries/frontpage/_frontpage.scss */
  .sp-text {
    padding: 0px;
  }
  /* line 113, ../sass/media_queries/frontpage/_frontpage.scss */
  .sp-text .sp1 {
    width: 65%;
    font-size: 15px;
    padding: 0px;
    line-height: 20px;
  }
  /* line 119, ../sass/media_queries/frontpage/_frontpage.scss */
  .sp-text .sp2 {
    width: 25%;
  }
  /* line 121, ../sass/media_queries/frontpage/_frontpage.scss */
  .sp-text .sp2 .sp-link {
    font-size: 18px;
    padding: 10px;
    line-height: 20px;
  }

  /* featured school block and new school block */
  /* line 129, ../sass/media_queries/frontpage/_frontpage.scss */
  .views-row .views-field-nothing .fs-block .fs-title {
    padding: 10px 5px;
    margin: 5px 30px;
    color: #ffffff;
    min-height: 50px;
    margin-bottom: 0px;
  }

  /* line 136, ../sass/media_queries/frontpage/_frontpage.scss */
  .featured_school .views-row .views-field-nothing, .new_school .views-row .views-field-nothing {
    padding: 5px;
  }

  /* footer */
  /* line 140, ../sass/media_queries/frontpage/_frontpage.scss */
  .footer h2.block-title, .social_icons, .form-actions {
    text-align: center !important;
  }

  /* line 143, ../sass/media_queries/frontpage/_frontpage.scss */
  .footer .simplenews-subscriber-form .form-type-email input {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* line 2, ../sass/media_queries/pages/_school.scss */
  .school-top {
    margin-bottom: 0;
  }
  /* line 4, ../sass/media_queries/pages/_school.scss */
  .school-top .school-top-inner {
    position: relative;
    bottom: 0px;
  }
  /* line 8, ../sass/media_queries/pages/_school.scss */
  .school-top .school-title {
    position: relative;
    bottom: 0px;
  }
  /* line 11, ../sass/media_queries/pages/_school.scss */
  .school-top .school-title .field--name-field-school-logo {
    float: none;
    margin-right: 20px;
  }
  /* line 14, ../sass/media_queries/pages/_school.scss */
  .school-top .school-title .field--name-field-school-logo img {
    width: 50%;
  }
  /* line 18, ../sass/media_queries/pages/_school.scss */
  .school-top .school-title .page-header {
    color: #fff;
    border: none;
    font-size: 30px;
    float: none;
    margin-top: 10px;
  }
  /* line 26, ../sass/media_queries/pages/_school.scss */
  .school-top .school-field {
    position: relative;
  }
  /* line 28, ../sass/media_queries/pages/_school.scss */
  .school-top .school-field .votingapi-widgets.fivestar a {
    font-size: 50px;
    margin-right: 25px;
  }

  /* line 34, ../sass/media_queries/pages/_school.scss */
  .school-top .school-top-inner .school-contact {
    position: relative;
    bottom: 0;
    right: 0;
    text-align: center;
  }
}
@media (max-width: 767px) {
  /* line 2, ../sass/media_queries/pages/_comparison.scss */
  .form-field-wrapper .form-actions .btn {
    min-width: fit-content;
    width: 100%;
  }

  /* line 6, ../sass/media_queries/pages/_comparison.scss */
  #school_comparison_form_wrapper {
    margin: 0 -15px;
  }
  /* line 8, ../sass/media_queries/pages/_comparison.scss */
  #school_comparison_form_wrapper #js-ajax-data-wrapper .panel-body {
    padding: 0;
  }

  /* line 13, ../sass/media_queries/pages/_comparison.scss */
  .mobile-view .field--name-field-about-your-school p {
    white-space: nowrap;
    width: 195px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/* line 1, ../sass/media_queries/_global.scss */
body:not(.path-frontpage) .main-container > .row {
  padding: 25px 0px;
}

/* line 4, ../sass/media_queries/_global.scss */
h1.page-header {
  font-size: 27px;
}
