{#
/**
 * @file
 * Template for layout_test_plugin layout.
 */
#}
<div class="layout-test-plugin clearfix">
  <div>
    <span class="setting-1-label">Blah: </span>
    {{ settings.setting_1 }}
  </div>
  <div class="region-main">
    {{ content.main }}
  </div>
</div>
