<div class="test-render">

  <!-- Render Block Plugin -->
  <h2>Render Block Plugin</h2>
  <hr>
  <div class="render-block-plugin">{{ bamboo_render_block('system_powered_by_block') }}</div>

  <!-- Render Block Entity -->
  <h2>Render Block Entity</h2>
  <hr>
  <div class="render-block-entity">{{ bamboo_render_entity('block', 'stark_branding') }}</div>

  <!-- Render Region -->
  <h2>Render Region</h2>
  <hr>
  <div class="render-region">{{ bamboo_render_region('sidebar_first') }}</div>

  <!-- Render Entity -->
  <h2>Render Entity</h2>
  <hr>
  <div class="render-entity-node">{{ bamboo_render_entity('node', 1) }}</div>
  <div class="render-entity-node-teaser">{{ bamboo_render_entity('node', 1, 'teaser') }}</div>
  <div class="render-entity-taxonomy-term">{{ bamboo_render_entity('taxonomy_term', 1) }}</div>
  <div class="render-entity-taxonomy-term-link">{{ bamboo_render_entity('taxonomy_term', 1, 'link') }}</div>
  <div class="render-entity-user">{{ bamboo_render_entity('user', 1) }}</div>
  <div class="render-entity-user-compact">{{ bamboo_render_entity('user', 1, 'compact') }}</div>

  <!-- Render Image -->
  <h2>Render Image</h2>
  <hr>
  <div class="render-image">{{ bamboo_render_image(1, 'thumbnail') }}</div>
  <div class="render-image-style-uri">style-uri-{{ bamboo_render_image_style('public://antistatique.jpg', 'thumbnail') }}</div>
  <div class="render-image-style-uri-preprocess">style-uri-preprocess-{{ bamboo_render_image_style('public://antistatique.jpg', 'thumbnail', TRUE) }}</div>

  <!-- Render Field -->
  <h2>Render Field</h2>
  <hr>
  <div class="render-field-node">{{ bamboo_render_field('title', 'node', 1) }}</div>
  <div class="render-field-taxonomy-term">{{ bamboo_render_field('name', 'taxonomy_term', 1) }}</div>
  <div class="render-field-file">{{ bamboo_render_field('filename', 'file', 1) }}</div>
  <div class="render-field-user">{{ bamboo_render_field('name', 'user', 1) }}</div>

  <!-- Render Menu -->
  <h2>Render Menu</h2>
  <hr>
  <div class="render-menu-no-access">{{ bamboo_render_menu('admin') }}</div>
  <div class="render-menu-all">{{ bamboo_render_menu('admin') }}</div>
  <div class="render-menu-level">{{ bamboo_render_menu('admin', 2) }}</div>
  <div class="render-menu-depth">{{ bamboo_render_menu('admin', 1, 2) }}</div>

  <!-- Render Form -->
  <h2>Render Form</h2>
  <hr>
  <div class="render-form">{{ bamboo_render_form('system', 'CronForm') }}</div>

  <!-- Render Views -->
  <h2>Render Views</h2>
  <hr>
  <div class="render-views">{{ bamboo_render_views('who_s_new', 'block_1') }}</div>
</div>
