.footer {
  background-color: $color_grey_bg;
  border: none;
  margin-top: 0px;
  .region {
    padding: 20px;
  }
  h2.block-title {
    text-transform: uppercase;
    text-align: left !important;
  }
  button.form-submit {
    background-color: #000;
    border-radius: 0;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    height: 40px;
    min-width: 130px;
    font-size: 15px;
  }
  .simplenews-subscriber-form {
    .form-type-email {
      label {
        display: none;
      }
      input {
        border: 1px solid #000;
        border-radius: 0;
        background-color: transparent;
        height: 40px;
        width: 50%;
      }
    }
  }
  .contact-message-form {
    input, textarea {
      background: transparent;
      border: none;
      box-shadow: none;
      border-bottom: 1px solid #333;
      border-radius: 0;
    }
    textarea {
      height: 50px;
    }
    button#edit-preview {
      display: none;
    }
  }
  #block-followus {
    margin-top: 22px;
  }
  .icon-button {
    color: #847d7d;
    margin-right: 15px;
    font-size: 2em;
  }
  .icon-button {
    &.facebook:hover {
      color: #3B5998;
    }
    &.twitter:hover {
      color: #1DA1F2;
    }
    &.youtube:hover {
      color: #ff0000;
    }
    &.linkedin:hover {
      color: #0077B5;
    }
    &.google-plus:hover {
      color: #DB4437;
    }
  }
}
