@font-face {
  font-family: "PT Sans";
  src: url("fonts/PTS55F.ttf");
}
body {
  background-color: $color_grey_bg;
}
body, p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: $color_text_grey;
}
h1.page-header {
  text-transform: uppercase;
  font-size: 30px;
  // border: none;
}
h2.block-title {
  font-size: 22px;
  margin: 10px 0;
}
input {
  &.form-text {
    border-radius: 0;
  }
}
.input-group .select-wrapper:first-child .form-control:first-child {
  border-radius: 0;
}
.input-group-addon:last-child {
  border-radius: 0;
  background-color: transparent;
  border: none;
  span {
    display: none;
  }
  span.glyphicon-spin {
    display: block;
  }
}
textarea.form-control {
  border-radius: 0;
}
body:not(.path-frontpage) {
  .main-container {
    padding: 0 30px;
    > .row {
      margin-left: 0px;
      margin-right: 0px;
      background-color: $color_white;
      padding: 50px 10px;
      min-height: 800px;
    }
  }
}
a:hover {
  text-decoration: none;
}
.scrolltotop {
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  background: $color_green;
  font-weight: bold;
  color: $color_white;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  &:after {
    content: "^";
    color: $color_white;
    font-size: 70px;
    top: 27px;
    right: 7px;
    position: absolute;
  }
  &:hover {
    text-decoration: none;
    background: $color_black_light;
  }
}
.form-actions .btn {
  border-radius: 0;
  padding: 10px;
  font-size: 22px;
  border-color: transparent;
}
.btn-success, .btn-primary, .btn-default {
  background-color: $color_green;
  color: $color_white;
  &:hover, &:focus, &:active {
    background-color: $color_black_light;
    color: $color_white;
  }
}
.btn-default.disabled:hover, .btn-default[disabled]:hover {
  background-color: $color_green;
  color: $color_text_grey;
}
.panel {
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.panel-default > .panel-heading {
  color: $color_white;
  background-color: $color_grey_dark;
  border: none;
  border-radius: 0;
}
.sticky-header {
  thead {
    background-color: $color_green;
    tr > th {
      text-align: left;
      padding: 20px;
      a {
        color: $color_white;
        text-transform: capitalize;
        font-size: 22px;
      }
    }
  }
}
.vote-form .select-wrapper::after {
  content: '' !important;
  display: none !important;
}
.sc-main {
  aside {
    padding-left: 5%;
  }
  .block {
    .block-title {
      text-align: left;
      font-size: 22px;
      margin: 10px 0;
      border-bottom: 1px solid $color_grey_bg;
    }
  }
  section.block-views, .contact-message-school-contact-form-form {
    padding: 10px;
    box-shadow: 1px 1px 5px 0px #cccbcb;
    margin-bottom: 20px;
  }
  .school-contact {
    float: right;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
