.navbar-default {
  background-color: transparent;
  border-color: transparent;
  border: none !important;
  .navbar-nav {
    > li {
      min-width: 140px;
      text-align: center;
      &:first-child > a, &:last-child > a {
        background-color: $color_green;
      }
      > a {
        color: $color_white;
        font-size: 20px;
        min-height: 60px;
        padding: 20px 10px;
        &.yellow {
          background-color: $color_yellow;
        }
        &.blue {
          background-color: $color_blue;
        }
        &.red {
          background-color: $color_red;
        }
        &.green {
          background-color: $color_green;
        }
        &.is-active {
          background-color: $color_black_light;
          color: $color_white;
        }
        &:hover {
          color: $color_white;
          background-color: $color_black_light;
        }
      }
    }
    .active > a {
      color: $color_white;
      &:hover {
        background-color: $color_black_light;
        color: $color_white;
      }
    }
  }
  .navbar-header {
    background-color: $color_white;
    padding: 5px;
    .navbar-brand {
      font-size: 35px;
      font-weight: 600;
      color: $color_blue_dark;
      // text-shadow: 1px 1px #b3b1b1;
      // box-shadow: 0 0 1px #333;
      // -moz-box-shadow: 0 0 1px #333;
      // -webkit-box-shadow: 0 0 1px #333;
    }
  }
  .navbar-collapse {
    float: right;
    margin-right: -15px;
  }
}
