/* Define all css variables here */
$color_white: #ffffff;
$color_black_light: #333333;
$color_red: #ff5502;
// $color_blue: #0dd8fd;
$color_blue: #128be0;
$featured_blue: #7eadec;
$color_green: #90d30f;
$color_yellow: #ffcc00;
$color_grey_bg: #f5f5f5;
$color_text_grey: #777777;
$featured_green: #45c767;
$featured_yellow: #fbff00;
$color_blue_dark: #128be0;
$color_grey_dark: #8b8b8c;
