/**
 * @file
 * Styles for link buttons and action links.
 */

.action-links {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}
[dir="rtl"] .action-links {
  /* This is required to win over specificity of [dir="rtl"] ul */
  margin-right: 0;
}
.action-links li {
  display: inline-block;
  margin: 0 0.3em;
}
.action-links li:first-child {
  margin-left: 0; /* LTR */
}
[dir="rtl"] .action-links li:first-child {
  margin-left: 0.3em;
  margin-right: 0;
}
.button-action {
  display: inline-block;
  line-height: 160%;
  padding: 0.2em 0.5em 0.3em;
  text-decoration: none;
}
.button-action:before {
  content: '+';
  font-weight: 900;
  margin-left: -0.1em; /* LTR */
  padding-right: 0.2em; /* LTR */
}
[dir="rtl"] .button-action:before {
  margin-left: 0;
  margin-right: -0.1em;
  padding-left: 0.2em;
  padding-right: 0;
}
