.ask-question {
  .cke_bottom, .filter-wrapper {
    display: none;
  }
  .comment-forbidden {
    display: none;
  }
  .field {
    margin-bottom: 10px;
    &.field--name-field-qa-school {
      margin-bottom: 10px;
      background-color: $color_grey_bg;
      padding: 10px;
    }
  }
}
.view-id-questions_and_answers {
  .views-row {
    box-shadow: 0px 2px 0px 0px $color_grey_bg;
    margin-bottom: 15px;
    .rc-row {
      font-size: 12px;
      .rc-item {
        &.comment {
          float: right;
        }
      }
    }
  }
}
.view-related-schools {
  .views-row {
    box-shadow: 0px 2px 0px 0px $color_grey_bg;
    .views-field-title {
      text-transform: capitalize;
    }
  }
}
.block-views-exposed-filter-blockquestions-and-answers-page-3 {
  .form-text {
    min-width: 300px;
  }
  .form-actions {
    margin-left: -5px;
    height: 36px;
    button.form-submit {
      padding: 1px 10px;
    }
  }
}
#views-exposed-form-questions-and-answers-page-2 {
  .form-text {
    height: 42px;
  }
  button.form-submit {
    margin-left: -5px;
    padding: 6px 15px;
    font-size: 20px;
  }
}
.view-id-questions_and_answers.view-display-id-page_2 {
  .views-row {
    .views-field-title {
      font-size: 20px;
    }
  }
}
