.form-field-wrapper {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  .form-actions {
    margin-top: 10px;
    text-align: center;
    .btn {
      min-width: 300px;
    }
  }
}
#js-ajax-elements-wrapper{
  margin-top: 10px;
}
.comparison-table {
  thead > tr > th {
    text-align: left;
    vertical-align: middle;
    padding: 20px;
    a {
      text-transform: capitalize;
      font-size: 22px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  tbody > tr > td {
    vertical-align: middle;
    text-align: left;
  }
  .paragraph--type--fees-range {
    margin-bottom: 10px;
  }
}
