body.path-user {
  .main-container {
    padding: 0 30px;
    > .row {
      margin-left: 0px;
      margin-right: 0px;
      background-color: transparent;
      padding: 50px 0px;
      min-height: 800px;
    }
  }
}
.auth_box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: $color_white;
  padding-bottom: 30px;
  .page-header {
    border: none;
  }
  .login_top_part {
    min-height: 140px;
    background: url('../video/school-header.jpeg') center (center / cover) no-repeat;
    display: table;
    table-layout: fixed;
    width: 100%;
    .the_logo {
      display: table-cell;
      vertical-align: middle;
      font-size: 45px;
      font-weight: 500;
      color: $color_blue_dark;
    }
  }
  .auth-box-inner {
    padding: 20px 0;
  }
  .social-login-link {
    margin-top: 10px;
    .social-google {
      background-color: #dd4b39;
      padding: 10px;
      font-size: 18px;
      margin-bottom: 20px;
    }
    .social-facebook {
      background-color: #3b5998;
      padding: 10px;
      font-size: 18px;
      margin-bottom: 10px;
    }
    a {
      color: #fff;
    }
  }
  &.register, &.password {
    .social-google {
      margin-top: 35px;
    }
  }
}
.hr-or {
  margin-top: 90px;
}
h4.hr-or span {
  background: $color_white;
  padding: 0 20px;
  text-align : Center;
  color: #b7b4b4;
}
h4.hr-or + * {
  border-top: solid 2px $color_grey_bg;
  margin-top: -20px;
}
