.school-top {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(79, 79, 80, 0.77)), url('../video/school-header.jpeg') center (center / cover) no-repeat;
  //background-attachment: fixed;
  min-height: 300px;
  position: relative;
  padding: 20px;
  // margin-bottom: 50px;
  .school-top-inner {
    position: absolute;
    bottom: 10px;
    // padding: 0 30px;
    .school-contact {
      position: absolute;
      bottom: 20px;
      right: 130px;
    }
  }
  .school-title {
    position: absolute;
    bottom: 50px;
    .field--name-field-school-logo {
      float: left;
      margin-right: 20px;
      img {
        // width: 100px;
      }
    }
    .page-header {
      color: #fff;
      border: none;
      font-size: 40px;
      float: left;
      margin-top: 110px;
    }
  }
  .school-field {
    position: absolute;
    bottom: 0px;
    .votingapi-widgets.fivestar a {
      font-size: 50px;
      margin-right: 25px;
    }
  }
}
article.school {
  .field {
    margin-bottom: 15px;
    &.field--name-field-school-levels-offered {
      .field__items {
        .field--item {
          float: left;
          margin-right: 10px;
          border: 1px solid #ddd;
          padding: 5px;
          background-color: #f5f5f5;
        }
      }
    }
    &.field--name-field-about-your-school {
      clear: both;
      margin-top: 55px;
    }
  }
  .form-item.panel-default {
    margin-top: 40px;
  }
  div.slick::before {
    content: "Gallery";
    font-weight: bold;
  }
}
.marquee.view-school-news{
  height: 100px;
  width: 100%;
  overflow: hidden;
  .views-row {
    margin-bottom: 5px;
    .views-field-title {
      a::before {
        content: "> ";
        color: #333;
        font-weight: 600;
      }
    }
  }
}
