/**
 * Traditional split diff theming
 */
table.diff {
  border-spacing: 4px;
  margin-bottom: 20px;
  table-layout: fixed;
  width: 100%;
}
table.diff .diff-context {
  background-color: #fafafa;
}
table.diff .diff-deletedline {
  background-color: #ffa;
  width: 50%;
}
table.diff .diff-addedline {
  background-color: #afa;
  width: 50%;
}
table.diff .diffchange {
  color: #f00;
  font-weight: bold;
}
table.diff .diff-marker {
  width: 1.4em;
}
table.diff th {
  padding-right: inherit; /* LTR */
}
[dir="rtl"] table.diff th {
  padding-right: 0;
  padding-left: inherit;
}
table.diff td div {
  overflow: auto;
  padding: 0.1ex 0.5em;
  word-wrap: break-word;
}
table.diff td {
  padding: 0.1ex 0.4em;
}
