.toolbar-icon-admin-toolbar-tools-help {
  text-indent: -9999px;
}

.toolbar-icon-admin-toolbar-tools-help:before {
  background-image: url(../misc/icons/ffffff/d8-item.svg);
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 8px;
  padding-top: 2px;
}

.toolbar-icon-admin-toolbar-tools-help:active:before,
.toolbar-icon-admin-toolbar-tools-help.active:before {
  background-image: url(../misc/icons/ffffff/d8-item.svg);
}
