/**
 * @file
 * Styling for block_place module regions and buttons during block placement.
 */

.block-place-region {
  outline: 1px dashed rgba(0,0,0,0.5);
  box-shadow: 0 0 0 1px rgba(255,255,255,0.7);
  margin: 1em 0;
  padding: 5px;
  text-align: center;
  text-shadow: none;
}

.block-place-region a.button {
  position: relative;
  background: url(../../../misc/icons/bebebe/plus.svg) #ffffff center center / 16px 16px no-repeat;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0;
  height: 26px;
  width: 26px;
  white-space: nowrap;
}

.block-place-region:hover a.button,
.block-place-region:focus a.button {
  background-image: url(../../../misc/icons/787878/plus.svg);
}

.block-place-region .ajax-progress {
  position: relative;
  top: -10px;
  right: 26px; /* LTR */
  height: 0;
  width: 0;
  overflow: visible;
  padding: 0;
}

[dir="rtl"] .block-place-region .ajax-progress {
  float: inherit;
  left: 26px;
  right: inherit;
}

.block-place-region .ajax-progress-throbber .throbber {
  display: block;
  padding: 0;
  height: 26px;
  width: 26px;
  background-position: center 6px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 100px;
  box-sizing: border-box;
}
