/**
 * @file
 * Maintenance theming.
 */

.maintenance-page {
  background-color: #e0e0d8;
  background-image: -webkit-radial-gradient(hsl(203, 2%, 90%), hsl(203, 2%, 95%));
  background-image: radial-gradient(hsl(203, 2%, 90%), hsl(203, 2%, 95%));
  background-repeat: repeat;
  background-position: left top, 50% 50%; /* LTR */
  min-height: 100%;
}
[dir="rtl"] .maintenance-page {
  background-position: right top, 50% 50%;
}

.page-title {
  font-size: 2em;
  line-height: 1.2em;
  color: #0074bd;
  word-wrap: break-word;
}

/**
 * Task list & step indicator
 */
@media all and (max-width: 48em) { /* 768px */
  header[role="banner"] {
    position: relative;
  }
  .step-indicator {
    display: block;
    font-size: 1.385em;
    position: absolute;
    top: 0.2em;
    right: 0.5em; /* LTR */
  }
  [dir="rtl"] .step-indicator {
    left: 0.5em;
    right: auto;
  }
  .task-list {
    display: none;
  }
}

@media all and (min-width: 48em) { /* 768px */
  .step-indicator {
    display: none;
  }
  .task-list {
    margin-left: 0; /* LTR */
    list-style-type: none;
    padding-left: 0; /* LTR */
    padding-bottom: 1em;
  }
  [dir="rtl"] .task-list {
    margin-right: 0;
    padding-right: 0;
  }
  .task-list li {
    padding: 0.5em 1em 0.5em 3.85em; /* LTR */
    color: #1a1a1a;
  }
  [dir="rtl"] .task-list li {
    padding: 0.5em 3.85em 0.5em 1em;
  }
  .task-list .is-active {
    background: #ebeae4;
    position: relative;
    font-weight: normal;
  }
  .task-list .is-active:after {
    left: 100%; /* LTR */
    border: solid transparent;
    border-color: rgba(235, 234, 228, 0);
    border-left-color: #ebeae4; /* LTR */
    border-width: 1.35em;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    top: 50%;
    margin-top: -1.32em;
  }
  [dir="rtl"] .task-list .is-active:after {
    left: auto;
    right: 100%;
    border-left-color: transparent;
    border-right-color: #ebeae4;
  }
  .task-list .done {
    color: #adadad;
  }
}

/**
 * Layout
 */
.layout-container {
  background: #fff;
  width: auto;
  margin-left: 1.25em;
  margin-right: 1.25em;
}
.layout-container:after { /* no reason for a clearfix in the markup */
  content: "";
  display: table;
  clear: both;
}
@media all and (max-width: 48em) { /* 768px */
  .layout-container {
    margin: 1.25em;
    padding: 10px 20px;
  }
  .page-title {
    margin-right: 2em; /* LTR */
    margin-bottom: 0.725em;
  }
  [dir="rtl"] .page-title {
    margin-right: 0;
    margin-left: 2em;
  }
}

@media all and (min-width: 48em) { /* 768px */
  html {
    display: table;
  }
  .install-page,
  .maintenance-page {
    display: table-cell;
    padding: 1em 0;
    vertical-align: middle;
  }
  html, .install-page, .maintenance-page {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .layout-container {
    margin: 0 auto;
    width: 75%;
    max-width: 770px;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    padding: 20px 0 40px 0;
  }

  /* Positioning sidebar & content */
  main {
    box-sizing: border-box;
    clear: none;
    float: left; /* LTR */
    padding-left: 3.85em;
    padding-right: 3.85em;
    width: 65%;
  }
  [dir="rtl"] main {
    float: right;
  }
  ul {
    padding: 15px;
    margin: 0.25em 0;
  }
  [dir="rtl"] ul {
    margin-right: 0; /* Overrides default [dir="rtl"] ul margin */
  }
  .layout-sidebar-first {
    float: left; /* LTR */
    width: 35%;
  }
  [dir="rtl"] .layout-sidebar-first {
    float: right;
  }

  /* Margins for sitename */
  .page-title {
    margin: 0.75em 1.9em;
  }
}

/**
 * Status report customization for install and update page.
 */
.system-status-report__status-title {
  float: none;
  width: 100%;
}
.system-status-report__entry__value {
  float: none;
  width: 100%;
  padding-left: 3em; /* LTR */
  padding-top: 0;
}
[dir="rtl"] .system-status-report__entry__value {
  padding-left: 1em;
  padding-right: 3em;
}
