{% if entity_id %}
  <div class="rating-caption">
    {% if result %}
      {% for i in 1..result %}
          <span><i class="fa fa-star"></i></span>
      {% endfor %}
      {% if no_stars %}
        {% for j in 1..no_stars %}
            <span><i class="fa fa-star-o"></i></span>
        {% endfor %}
      {% endif %}
    {% else %}
      {% for j in 1..5 %}
          <span><i class="fa fa-star-o"></i></span>
      {% endfor %}
    {% endif %}
  </div>
{% endif %}
