/**
 * @file
 * Stylesheet for the Field UI module.
 */

/* 'Manage fields' and 'Manage display' overviews */
.field-ui-overview .region-title td {
  font-weight: bold;
}
.field-ui-overview .region-message td {
  font-style: italic;
}

/* 'Manage form display' and 'Manage display' overview */
.field-ui-overview .field-plugin-summary-cell {
  line-height: 1em;
}
.field-ui-overview .field-plugin-summary {
  float: left; /* LTR */
  font-size: .9em;
}
[dir="rtl"] .field-ui-overview .field-plugin-summary {
  float: right;
}
.field-ui-overview .field-plugin-summary-cell .warning {
  display: block;
  float: left; /* LTR */
  margin-right: .5em;
}
[dir="rtl"] .field-ui-overview .field-plugin-summary-cell .warning {
  float: right;
}
.field-ui-overview .field-plugin-settings-edit-wrapper {
  float: right; /* LTR */
}
[dir="rtl"] .field-ui-overview .field-plugin-settings-edit-wrapper {
  float: left;
}
.field-ui-overview .field-plugin-settings-edit {
  float: right; /* LTR */
}
[dir="rtl"] .field-ui-overview .field-plugin-settings-edit {
  float: left;
}
.field-ui-overview .field-plugin-settings-editing td {
  vertical-align: top;
}
.field-ui-overview .field-plugin-settings-editing .field-plugin-type {
  display: none;
}
.field-ui-overview .field-plugin-settings-edit-form .plugin-name {
  font-weight: bold;
}
