{#
/**
 * @file
 * Default theme implementation for Geofield DMS.
 *
 * Available variables:
 * - components: Contains coordinate components. Each component contains:
 *   - orientation: The orientation.
 *   - degrees: The number of degrees.
 *   - minutes: The number of minutes.
 *   - seconds: The number of seconds.
 *
 * @ingroup themeable
 */
#}

{% for item, component in components %}
  <span class="dms dms-{{ item }}">
    {{ component['degrees'] }}°
    {{ component['minutes'] }}'
    {% if component.seconds is not empty %}
      {{ component['seconds'] }}"
    {% endif %}
    {{ component['orientation'] }}
  </span>
  {% if item == 'lat' %}
    ,
  {% endif %}
{% endfor %}
