{#
/**
 * @file
 * Default theme implementation to display a view of mapping_test rows.
 *
 * Available variables:
 *   - rows: A list of view rows.
 *   - options: Various view options, including the row style mapping.
 *   - view: The view object.
 *   - element: Render array of views rows.
 *
 * @see template_preprocess_views_view_mapping_test()
 *
 * @ingroup themeable
 */
#}
{{ element }}
