.locale-translate-filter-form .details-wrapper {
  overflow: hidden;
}
.locale-translate-filter-form .form-item-langcode,
.locale-translate-filter-form .form-item-translation,
.locale-translate-filter-form .form-item-customized {
  float: left; /* LTR */
  margin-right: 1em; /* LTR */
  margin-bottom: 0;
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 15em;
}
[dir="rtl"] .locale-translate-filter-form .form-item-langcode,
[dir="rtl"] .locale-translate-filter-form .form-item-translation,
[dir="rtl"] .locale-translate-filter-form .form-item-customized {
  float: right;
  margin-left: 1em;
  margin-right: 0;
}
.locale-translate-filter-form .form-type-select select {
  width: 100%;
}
.locale-translate-filter-form .form-actions {
  float: left; /* LTR */
  padding: 3.8ex 0 0 0; /* LTR */
}
[dir="rtl"] .locale-translate-filter-form .form-actions {
  float: right;
  padding: 3.5ex 0 0 0;
}
.locale-translate-edit-form th {
  width: 50%;
  table-layout: fixed;
}
.locale-translate-edit-form td {
  vertical-align: top
}

.locale-translate-edit-form tr.changed {
  background: #ffb;
}

.locale-translate-edit-form tr .form-type-item .ajax-changed {
  position: absolute;
}

.locale-translate-filter-form .form-wrapper {
  margin-bottom:0;
}

.locale-translate-edit-form table.changed {
  margin-top: 0;
}

/**
 * Available translation updates page.
 */
#locale-translation-status-form table {
  table-layout: fixed;
}
#locale-translation-status-form th.select-all {
  width: 4%;
}
#locale-translation-status-form th.title {
  width: 25%;
}
#locale-translation-status-form th.description {
}
#locale-translation-status-form td {
  vertical-align: top;
}
.locale-translation-update__wrapper {
  background: transparent url(../../../misc/menu-collapsed.png) left .6em no-repeat;
  margin-left: -12px;
  padding-left: 12px;
}
.expanded .locale-translation-update__wrapper {
  background: transparent url(../../../misc/menu-expanded.png) left .6em no-repeat;
}
#locale-translation-status-form .description {
  cursor: pointer;
}
.locale-translation-update__wrapper {
  color: #5c5c5b;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.expanded .locale-translation-update__wrapper {
  height: auto;
  overflow: visible;
  white-space: normal;
}
.expanded .locale-translation-update__message {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.js .locale-translation-update__wrapper {
  height: 20px;
}
.expanded .locale-translation-update__wrapper {
  height: auto;
  overflow: visible;
  white-space: normal;
}
.locale-translation-update__details {
  padding: 5px 0;
  max-width: 490px;
  white-space: normal;
  font-size: 0.9em;
  color: #666;
}
.locale-translation-update__details ul {
  margin: 0;
  padding: 0;
}
.locale-translation-update__details li {
  margin: 0 0 0.25em 1.5em;
  padding: 0;
}
@media screen and (max-width: 40em) {
  #locale-translation-status-form th.title {
    width: 20%;
  }
  #locale-translation-status-form th.status {
    width: 40%;
  }
}
