{#
/**
 * @file
 * Theme override for the status report.
 *
 * Available variables:
 * - requirements: Contains multiple requirement instances.
 *   Each requirement contains:
 *   - title: The title of the requirement.
 *   - value: (optional) The requirement's status.
 *   - description: (optional) The requirement's description.
 *   - severity_title: The title of the severity.
 *   - severity_status: Indicates the severity status.
 *
 * @see template_preprocess_status_report()
 */
#}
<table class="system-status-report">
  <tbody>
  {% for requirement in requirements %}
    <tr class="system-status-report__entry system-status-report__entry--{{ requirement.severity_status }} color-{{ requirement.severity_status }}">
      {% if requirement.severity_status in ['warning', 'error'] %}
        <th class="system-status-report__status-title system-status-report__status-icon system-status-report__status-icon--{{ requirement.severity_status }}">
          <span class="visually-hidden">{{ requirement.severity_title }}</span>
      {% else %}
        <th class="system-status-report__status-title">
      {% endif %}
        {{ requirement.title }}
      </th>
      <td>
        {{ requirement.value }}
        {% if requirement.description %}
          <div class="description">{{ requirement.description }}</div>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
