{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 *
 * @ingroup templates
 */
#}
{% block content %}
  {% if content %}
    <ul class="list-inline local-actions">{{ content }}</ul>
  {% endif %}
{% endblock %}
