@media (max-width: 767px) {
  .form-field-wrapper .form-actions .btn {
    min-width: fit-content;
    width: 100%;
  }
  #school_comparison_form_wrapper {
    margin: 0 -15px;
    #js-ajax-data-wrapper .panel-body {
      padding: 0;
    }
  }
  .mobile-view {
    .field--name-field-about-your-school p {
      white-space: nowrap;
      width: 195px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
