@media (max-width: 767px) {
  .school-top {
    margin-bottom: 0;
    .school-top-inner {
      position: relative;
      bottom: 0px;
    }
    .school-title {
      position: relative;
      bottom: 0px;
      .field--name-field-school-logo {
        float: none;
        margin-right: 20px;
        img {
          width: 50%;
        }
      }
      .page-header {
        color: #fff;
        border: none;
        font-size: 30px;
        float: none;
        margin-top: 10px;
      }
    }
    .school-field {
      position: relative;
      .votingapi-widgets.fivestar a {
        font-size: 50px;
        margin-right: 25px;
      }
    }
  }
  .school-top .school-top-inner .school-contact {
    position: relative;
    bottom: 0;
    right: 0;
    text-align: center;
  }
}
