/**
 * @file
 * Styling for devel toolbar module.
 */

.toolbar .toolbar-tray-vertical .edit-devel-toolbar {
    text-align: right; /* LTR */
    padding: 1em;
}
[dir="rtl"] .toolbar .toolbar-tray-vertical .edit-devel-toolbar {
    text-align: left;
}

.toolbar .toolbar-tray-horizontal .edit-devel-toolbar {
    float: right; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-tray-horizontal .edit-devel-toolbar {
    float: left;
}

.toolbar .toolbar-tray-horizontal .toolbar-menu {
    float: left; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-tray-horizontal .toolbar-menu {
    float: right;
}

.toolbar .toolbar-bar .toolbar-icon-devel:before{
    background-image: url(../icons/bebebe/cog.svg);
}
.toolbar-bar .toolbar-icon-devel:active:before,
.toolbar-bar .toolbar-icon-devel.is-active:before {
    background-image: url(../icons/ffffff/cog.svg);
}

.toolbar-horizontal .toolbar-horizontal-item-hidden {
    display: none;
}
