{#
/**
 * @file
 * Default theme implementation for a paragraphs dropbutton wrapper.
 *
 * Available variables:
 * - children: Contains the child elements of the paragraphs dropbutton menu.
 *
 * @see template_preprocess()
 * @see template_preprocess_paragraphs_dropbutton_wrapper()
 *
 * @ingroup themeable
 */
#}
{% if children %}
  {% spaceless %}
    <div class="paragraphs-dropbutton-wrapper">
      {{ children }}
    </div>
  {% endspaceless %}
{% endif %}
