@media (max-width: 767px) {
  /* menu */
  .navbar-default .navbar-header .navbar-brand {
    font-size: 28px;
  }
  .navbar-default .navbar-collapse {
    z-index: 9999;
    position: fixed;
    right: 2px;

  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: $color_blue;
  }
  /* frontpage search form */
  .block-views-exposed-filter-blockfront-school-search-page-2 {
    .form-item .input-group {
      float: none;
      clear: both;
      width: 100%;
    }
    .form-item-combine, .form-item-field-school-type-target-id, .form-actions {
      margin-left: 0px;
      clear: both;
    }
    .form-item-field-school-type-target-id {
      .select-wrapper {
        float: none;
        clear: both;
        width: 100%;
      }
      select {
        min-width: 245px;
      }
    }
  }
  /* service block */
  .box2 {
    .view-fifth {
      margin-bottom: 15px;
      padding: 15px;
      text-align: justify;
      min-height: 300px;
    }
    h3 {
      font-size: 20px;
      min-height: 70px;
      margin-top: 10px;
    }
  }
  /* top rated schools block */
  .school_content {
    .view-top-rated-schools {
      .views-row.even .st-1 {
        float: none;
      }
      .views-row {
        margin-bottom: 30px;
      }
      .st-1-in {
        padding: 15px;
        min-height: 290px;
        .rm-lnk {
          text-align: center;
          a {
            margin: 20px 0 0 0;
            padding: 15px 25px;
            font-size: 20px;
            line-height: 20px;
          }
        }
      }
      .st-1 {
        min-height: 290px;
        margin-bottom: 15px;
        .text-2 {
          margin-top: 0;
          text-align: center;
          a {
            font-size: 30px;
            line-height: 30px;
          }
        }
      }
      .st-2 {
        min-height: auto;
        img {
          height: auto;
        }
      }
    }
  }
  /* compare block and ask question block */
  .path-frontpage .main-container {
    margin-top: 120px;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .compare-school-block {
    min-height: 95px;
    padding: 15px;
    margin: 30px 0px;
  }
  .sp-text {
    padding: 0px;
    .sp1 {
      width: 65%;
      font-size: 15px;
      padding: 0px;
      line-height: 20px;
    }
    .sp2 {
      width: 25%;
      .sp-link {
        font-size: 18px;
        padding: 10px;
        line-height: 20px;
      }
    }
  }
  /* featured school block and new school block */
  .views-row .views-field-nothing .fs-block .fs-title {
    padding: 10px 5px;
    margin: 5px 30px;
    color: #ffffff;
    min-height: 50px;
    margin-bottom: 0px;
  }
  .featured_school .views-row .views-field-nothing, .new_school .views-row .views-field-nothing {
    padding: 5px;
  }
  /* footer */
  .footer h2.block-title, .social_icons, .form-actions {
    text-align: center !important;
  }
  .footer .simplenews-subscriber-form .form-type-email input {
    width: 100%;
  }
}
