{% set resume %}
<div id="resume" class="resume">
    <span class="resume__subtitle">
        {{ profile.method|upper }}
        {% if profile.method|upper in ['GET', 'HEAD'] %}
            <a href="{{ profile.url }}">{{ profile.url }}</a>
        {% else %}
            <em>{{ profile.url }}</em>
        {% endif %}
    </span>
    <span class="resume__time">
        <em>by {{ profile.ip }}</em> at <em>{{ profile.time|date('r') }}</em>
    </span>

    <a id="resume-view-all" class="button--flat resume__button"
       href="{{ url("webprofiler.admin_list") }}">{{ 'View latest'|t }}</a>
</div>
{% endset %}

<div id="webprofiler">

    {{ resume }}

    <div id="collectors" class="collectors panel">
    </div>

    <div class="loader--fixed" style="display: none">
        <svg class="loader__circle">
            <circle class="loader__path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>

    <script id="collector" type="text/template">
        <a href="#<%= id %>" title="<%= summary %>" class="overview__link">
            <img src="data:image/png;base64,<%= icon %>"
                 class="overview__icon">
            <span class="overview__title"><%= label %></span>
            <% if(typeof(summary) !== "undefined") { %>
            <span class="overview__subtitle"><%= summary %></span>
            <% } %>
        </a>
    </script>

    {{ panels }}

    <div class="modal js--modal" style="display: none">
        <div class="modal__container">
            <div class="modal__bar">
                <h3 class="modal__title"></h3>
            </div>
            <div class="modal__content">
                <div class="modal__main-data"></div>
            </div>
            <a class="button--flat js--modal-close l-right">Close</a>
        </div>
    </div>
</div>
