/**
 * @file
 * Styling for contextual module's toolbar tab.
 */

/* Tab appearance. */
.toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab {
  float: right; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab {
  float: left;
}
.toolbar .toolbar-bar .contextual-toolbar-tab .toolbar-item {
  margin: 0;
}
.toolbar .toolbar-bar .contextual-toolbar-tab .toolbar-item.is-active {
  background-image:-webkit-linear-gradient(rgb(78,159,234) 0%, rgb(69,132,221) 100%);
  background-image:linear-gradient(rgb(78,159,234) 0%,rgb(69,132,221) 100%);
}

/* @todo get rid of this declaration by making toolbar.module's CSS less specific */
.toolbar .toolbar-bar .contextual-toolbar-tab.toolbar-tab.hidden {
  display: none;
}
