{#
/**
 * @file
 * Theme override for a set of filter tips.
 *
 * Available variables:
 * - tips: A pre-constructed list of tips.
 *
 * @ingroup templates
 *
 * @see \Drupal\bootstrap\Plugin\Preprocess\FilterTips::preprocessVariables()
 */
#}
{{ tips }}
