{#
/**
 * @file
 * Default theme implementation for a three column layout.
 *
 * This template provides a three column 33%-34%-33% display layout, with
 * additional areas for the top and the bottom.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--threecol-33-34-33',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.top %}
      <div class="layout__region layout__region--top">
        {{ content.top }}
      </div>
    {% endif %}

    {% if content.first %}
      <div class="layout__region layout__region--first">
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div class="layout__region layout__region--second">
        {{ content.second }}
      </div>
    {% endif %}

    {% if content.third %}
      <div class="layout__region layout__region--third">
        {{ content.third }}
      </div>
    {% endif %}

    {% if content.bottom %}
      <div class="layout__region layout__region--bottom">
        {{ content.bottom }}
      </div>
    {% endif %}
  </div>
{% endif %}
