/**
 * @file
 * Vertical tabs. Lets face it, VT over-specified selector is for a reason:
 * not easily get broken. And that is not a breeze to override.
 * And we don't want to CSS alter for a partial use case.
 */

.form--slick .form-type-vertical-tabs {
  margin-bottom: 30px;
  padding: 0;
  width: 100%;
}

.form--slick .vertical-tabs__menu {
  float: left;
  margin: 0;
  width: 100%;
}

.form--slick .vertical-tabs__panes {
  margin: 0;
}

.form--slick .vertical-tabs__menu-item {
  border: 0;
  text-align: right;
}

.form--slick .vertical-tabs__menu-item a {
  background: #f9f9f9;
}

.form--slick .vertical-tabs__menu-item.is-selected {
  border-right: 0;
}

.form--slick .vertical-tabs__menu-item.is-selected a {
  background: #fff;
}

.form--slick .vertical-tabs details {
  border: 0;
}

.form--slick .vertical-tabs .vertical-tabs__panes details.vertical-tabs__pane {
  padding: 0;
}

.form--slick .vertical-tabs__panes {
  background: #f3f3f3;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #dadada;
  border-radius: 1px;
  padding: 0;
  min-height: 240px;
}

.form--slick .vertical-tabs__panes > details,
.form--slick .vertical-tabs__panes > details:first-child {
  border: 0;
  margin: 0;
  padding-top: 0 !important;
}

@media screen and (min-width: 1280px) {
  .form--slick .vertical-tabs__menu {
    float: left;
    margin: 0 -100% -1px 0;
    width: 200px;
  }

  .form--slick .vertical-tabs__panes {
    margin: 0 0 0 200px;
    padding: 0;
  }
}
