.blog_content {
  background: $featured_blue url('../video/school-bg7.jpeg') center (center / cover) no-repeat;
  background-attachment: fixed;
  min-height: 200px;
  .region {
    padding: 20px;
  }
}
.compare-school-block {
  min-height: 120px;
  background-color: $color_red;
  padding: 30px;
  margin: 50px 0px;
}
.sp-text {
  padding: 5px;
  .sp1 {
    float: left;
    font-size: 22px;
    color: $color_white;
    padding: 17px;
    line-height: 25px;
  }
  .sp2 {
    float: right;
    .sp-link {
      float: right;
      min-height: 60px;
      background-color: $color_green;
      font-size: 22px;
      color: $color_white;
      padding: 17px;
      line-height: 25px;
      &:hover {
        background-color: $color_black_light;
        text-decoration: none;
      }
    }
  }
}
.path-frontpage .block h2.block-title {
  text-align: center;
  color: $color_black_light;
  text-transform: uppercase;
  margin-bottom: 30px;
}
