.featured_school {
  background-color: $featured_blue;
  min-height: 450px;
  .region {
    padding: 20px;
  }
}
.block-views-blockfeatured-schools-block-1 {
  margin: 20px 0px 50px 0px;
}
.featured_school, .new_school {
  .views-row {
    /*background-color: $color_white;*/
    min-height: 250px;
    /*padding: 20px;*/
    .views-field-nothing {
      min-height: 240px;
      padding: 10px;
      background-color: $color_white;
    }
  }
}
.views-row {
  .views-field-nothing {
    .fs-block {
      text-align: center;
      .fs-img img {
        margin: auto;
      }
      .fs-title {
        padding: 10px 10px;
        margin: 10px 6px;
        /*background-color: $color_black_light;*/
        color: $color_white;
        min-height: 70px;
        margin-bottom: 0px;
        &:hover {
          background-color: $color_black_light;
          text-decoration: none;
        }
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  &:nth-child(1) .fs-title {
    background-color: $color_red;
  }
  &:nth-child(2) .fs-title {
    background-color: $color_blue;
  }
  &:nth-child(3) .fs-title {
    background-color: $color_green;
  }
  &:nth-child(4) .fs-title {
    background-color: $color_yellow;
  }
}
