.rate_school {
  background: $featured_green url('../video/school-bg5.jpg') center (center / cover) no-repeat;
  background-attachment: fixed;
  min-height: 200px;
  .region {
    padding: 20px;
  }
}
.rs-block {
  min-height: 120px;
  background-color: $color_red;
  padding: 30px;
  margin: 50px 0px;
}
