.block-views-exposed-filter-blockfront-school-search-page-2 {
  padding: 0px 30px;
  #views-exposed-form-front-school-search-page-2 {
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    text-align: center;
  }
  label {
    float: left;
    text-transform: uppercase;
  }
  .form-item {
    .input-group {
      float: left;
      clear: both;
      input {
        border-radius: 0;
        border: none;
        border-bottom: 2px solid #337ab7;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    .input-group-addon {
      background-color: transparent;
      border: none;
      right: -10px;
      position: absolute;
      span {
        display: none;
        &.glyphicon-spin {
          display: block;
        }
      }
    }
  }
  .form-item-field-school-type-target-id {
    .select-wrapper {
      float: left;
      clear: both;
    }
    select {
      border-radius: 0;
      border: none;
      border-bottom: 2px solid #337ab7;
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .form-item-combine, .form-item-field-school-type-target-id, .form-actions {
    margin-left: 30px;
  }
  .form-submit {
    border-radius: 0;
    text-transform: uppercase;
    min-height: 50px;
    border: none;
    background-color: #337ab7;
  }
}
