.box2 {
  margin: 70px 0px;
  .view-fifth {
    overflow: hidden;
    position: relative;
    text-align: left;
    cursor: default;
    background: $color_white;
    padding: 20px;
    min-height: 340px;
    i {
      color: $color_white;
      font-size: 22px;
      padding-top: 0.8em;
    }
  }
  .view .mask {
    width: 100%;
    /*padding: 10px;*/
    color: $color_white;
    left: 0px;
    /*position: absolute;*/
    overflow: hidden;
    /*-webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity = 100);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;*/
  }
  .view-fifth:hover .mask {
    /*-webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    position: relative;*/
  }
  h3 {
    color: $color_white;
    font-size: 27px;
    min-height: 105px;
    text-transform: uppercase;
    line-height: 1.3;
    margin-top: 20px;
    text-align: center;
  }
  h4 {
    font-size: 18px;
    border-bottom: 1px solid #22A4AF;
    color: $color_white;
    line-height: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
  }
  p {
    color: $color_white;
  }
  .s-1 .view-fifth {
    background-color: $color_red;
  }
  .s-2 .view-fifth {
    background-color: $color_blue;
  }
  .s-3 .view-fifth {
    background-color: $color_green;
  }
}
