.school_content {
  margin-top: -230px;
  z-index: 0;
  background-color: $color_grey_bg;
  .region {
    margin-top: 180px;
    margin-bottom: 20px;
  }
  .view-top-rated-schools {
    .st-1, .st-2 {
      min-height: 320px;
      margin-bottom: 30px;
    }
    .st-1 {
      .st-1-in {
        background-color: $color_white;
        padding: 20px;
        min-height: 320px;
        .rm-lnk {
          a {
            margin: 15px 0 0 0;
            display: inline-block;
            position: relative;
            padding: 20px 30px;
            font-size: 22px;
            line-height: 20px;
            font-weight: 400;
            letter-spacing: -0.04em;
            color: $color_white;
            background: $color_green;
          }
        }
      }
      .text-2 {
        a {
          color: $color_black_light;
          font-size: 35px;
          line-height: 40px;
          font-weight: 400;
          letter-spacing: -0.04em;
          text-transform: capitalize;
        }
      }
      .st-block {
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
      }
    }
    .st-2 img {
      height: 320px;
    }
    .views-row.even {
      .st-1 {
        float: right !important;
        .rm-lnk {
          a {
            background-color: $color_yellow;
          }
        }
      }
    }
  }
}
