/**
 * @file
 * Styles for Configuration Translation.
 */

/**
 * Hide the label, in an accessible way, for responsive screens which show the
 * form in one column.
 */
.translation-set__translated label {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

@media screen and (min-width: 38em) {
  .translation-set__translated label {
    height: auto;
    position: inherit;
    width: auto;
  }
}
