{#
/**
 * @file
 * Default theme implementation for basic administrative info about a View.
 *
 * Available variables:
 * - displays: List of displays.
 *
 * @ingroup themeable
 */
#}
<h3 class="views-ui-view-title" data-drupal-selector="views-table-filter-text-source">{{ view.label }}</h3>
<div class="views-ui-view-displays">
  {% if displays %}
    {% trans %}
      Display
    {% plural displays %}
      Displays
    {% endtrans %}:
    <em>{{ displays|safe_join(', ') }}</em>
  {% else %}
    {{ 'None'|t }}
  {% endif %}
</div>
<div class="views-ui-view-machine-name">
  {{ 'Machine name:'|t }}
  <span data-drupal-selector="views-table-filter-text-source">{{ view.id }}</span>
</div>
