/**
 * @file
 * Styles for configuration of CKEditor module.
 *
 * Many of these styles are adapted directly from the default CKEditor theme
 * "moono".
 */



.ckeditor-toolbar {
  border: 1px solid #b6b6b6;
  padding: 0.1667em 0.1667em 0.08em;
  box-shadow: 0 1px 0 white inset;
  background: #cfd1cf;
  background-image: -webkit-linear-gradient(top, whiteSmoke, #cfd1cf);
  background-image: linear-gradient(top, whiteSmoke, #cfd1cf);
  margin: 5px 0;
  /* Disallow any user selections in the drag-and-drop toolbar config UI. */
  -webkit-user-select: none;
  -moz-user-select:    none;
  -ms-user-select:     none;
  user-select:         none;
}
.ckeditor-toolbar-active {
  margin-top: 0.25em;
}
.ckeditor-toolbar-disabled {
  margin-bottom: 0.5em;
}
.ckeditor-toolbar ul,
.ckeditor-toolbar-disabled ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* This is required to win over specificity of [dir="rtl"] ul */
[dir="rtl"] .ckeditor-toolbar ul,
[dir="rtl"] .ckeditor-toolbar-disabled ul {
  margin-right: 0;
}

.ckeditor-row {
  padding: 2px 0 3px;
  border-radius: 3px;
}
.ckeditor-group-names-are-visible .ckeditor-row {
  border: 1px solid whitesmoke;
}
.ckeditor-row + .ckeditor-row {
  margin-top: 0.25em;
}
.ckeditor-toolbar-group,
.ckeditor-toolbar-group-placeholder,
.ckeditor-add-new-group {
  float: left; /* LTR */
}
[dir="rtl"] .ckeditor-toolbar-group,
[dir="rtl"] .ckeditor-toolbar-group-placeholder,
[dir="rtl"] .ckeditor-add-new-group {
  float: right;
}
.ckeditor-toolbar-groups {
  min-height: 2em;
}
.ckeditor-toolbar-group {
  margin: 0 0.3333em;
  cursor: move;
}
.ckeditor-group-names-are-visible .ckeditor-toolbar-group,
.ckeditor-add-new-group {
  border: 1px dotted #a6a6a6;
  border-radius: 3px;
  padding: 0.2em 0.4em;
}
.ckeditor-toolbar-group.placeholder,
.ckeditor-toolbar-group.placeholder .ckeditor-toolbar-group-name {
  cursor: not-allowed;
}
.ckeditor-toolbar-group.placeholder .ckeditor-toolbar-group-name {
  font-style: italic;
}
.ckeditor-toolbar-group-name {
  display: none;
  font-size: 1em;
  font-weight: normal;
  margin: 0.25em 0;
}
.ckeditor-group-names-are-visible .ckeditor-toolbar-group-name {
  display: block;
  cursor: pointer;
}
.ckeditor-toolbar-active .placeholder,
.ckeditor-toolbar-active .ckeditor-add-new-group {
  display: none;
}
.ckeditor-group-names-are-visible .placeholder,
.ckeditor-group-names-are-visible .ckeditor-add-new-group {
  display: block;
}
.ckeditor-toolbar-group-buttons {
  float: left; /* LTR */
}
[dir="rtl"] .ckeditor-toolbar-group-buttons {
  float: right;
}
.ckeditor-groupnames-toggle {
  cursor: pointer;
  float: right; /* LTR */
}
[dir="rtl"] .ckeditor-groupnames-toggle {
  float: left;
}
.ckeditor-toolbar .ckeditor-toolbar-group > li {
  border: 1px solid white;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(transparent 60%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.1));
  margin: 3px 6px;
  padding: 3px;
}
.ckeditor-toolbar-configuration .fieldset-description{
  margin-bottom: 1em;
}
.ckeditor-toolbar-disabled .ckeditor-toolbar-available,
.ckeditor-toolbar-disabled .ckeditor-toolbar-dividers {
  box-sizing: border-box;
}
.ckeditor-toolbar-disabled .ckeditor-toolbar-available {
  float: left; /* LTR */
  width: 80%;
}
[dir="rtl"] .ckeditor-toolbar-disabled .ckeditor-toolbar-available {
  float: right;
}
.ckeditor-toolbar-disabled .ckeditor-toolbar-dividers {
  float: right; /* LTR */
  width: 20%;
}
[dir="rtl"] .ckeditor-toolbar-disabled .ckeditor-toolbar-dividers {
  float: left;
}
.ckeditor-toolbar-disabled .ckeditor-buttons li a,
.ckeditor-toolbar .ckeditor-buttons,
.ckeditor-add-new-group button {
  border: 1px solid #a6a6a6;
  border-bottom-color: #979797;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.15) inset;
}
.ckeditor-toolbar-disabled .ckeditor-buttons {
  border: 0;
}
.ckeditor-toolbar-disabled .ckeditor-buttons li {
  margin: 2px;
}
.ckeditor-buttons {
  min-height: 26px;
  min-width: 26px;
}
.ckeditor-buttons li {
  padding: 0;
  margin: 0;
  float: left; /* LTR */
}
[dir="rtl"] .ckeditor-buttons li {
  float: right;
}
.ckeditor-buttons li a,
.ckeditor-add-new-group button {
  background: #e4e4e4;
  background-image: -webkit-linear-gradient(top, white, #e4e4e4);
  background-image: linear-gradient(top, white, #e4e4e4);
  color: #474747;
}
.ckeditor-buttons li a {
  border: 0;
  cursor: move;
  display: block;
  min-height: 18px;
  line-height: 1.4;
  padding: 4px 6px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}
.ckeditor-toolbar-dividers {
  float: right; /* LTR */
}
[dir="rtl"] .ckeditor-toolbar-dividers {
  float: left;
}
.ckeditor-buttons li .cke-icon-only {
  text-indent: -9999px;
  width: 16px;
  /* Firefox includes the offscreen text in the focus indicator, resulting in a
     far too wide focus indicator. This fixes that. */
  overflow: hidden;
}
.ckeditor-buttons .cke_button_icon img {
  width: 16px;
  height: 16px;
}
.ckeditor-buttons li .cke_ltr {
  direction: ltr;
}
.ckeditor-buttons li .cke_rtl {
  direction: rtl;
}
.ckeditor-buttons li a:focus,
.ckeditor-buttons li a:active,
.ckeditor-multiple-buttons li a:focus {
  z-index: 11; /* Ensure focused buttons show their outline on all sides. */
}
.ckeditor-buttons li:first-child a {
  border-top-left-radius: 2px; /* LTR */
  border-bottom-left-radius: 2px; /* LTR */
}
[dir="rtl"] .ckeditor-buttons li:first-child a {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.ckeditor-buttons li:last-child a {
  border-top-right-radius: 2px; /* LTR */
  border-bottom-right-radius: 2px; /* LTR */
}
[dir="rtl"] .ckeditor-buttons li:last-child a {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.ckeditor-button-placeholder,
.ckeditor-toolbar-group-placeholder {
  background: #9dcae7;
}
.ckeditor-toolbar-group-placeholder {
  border-radius: 4px;
}
.ckeditor-multiple-buttons {
  padding: 1px 2px;
  margin: 5px;
  list-style: none;
  float: left; /* LTR */
}
[dir="rtl"] .ckeditor-multiple-buttons {
  float: right;
}
.ckeditor-multiple-buttons li {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
[dir="rtl"] .ckeditor-multiple-buttons li {
  float: right;
}
.ckeditor-multiple-buttons li a {
  cursor: move;
  display: inline-block;
  min-height: 18px;
  line-height: 1.4;
  margin: 0;
  padding: 2px 0;
}
.ckeditor-buttons .ckeditor-group-button-separator,
.ckeditor-multiple-buttons .ckeditor-group-button-separator {
  margin: -1px -3px -2px;
}
.ckeditor-buttons .ckeditor-group-button-separator a,
.ckeditor-multiple-buttons .ckeditor-group-button-separator a {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAdCAMAAABG4xbVAAAAhFBMVEUAAACmpqampqampqb////l5eX////5+fmmpqatra2urq6vr6+1tbW2tra4uLi6urq8vLzb29ve3t7i4uLl5eXn5+fo6Ojp6enq6urr6+vs7Ozt7e3u7u7v7+/w8PDx8fHy8vLz8/P09PT19fX29vb39/f4+Pj5+fn6+vr7+/v8/Pz+/v7qIQO+AAAACHRSTlMATVmAi8XM29MuWToAAABjSURBVBiVrc5BCoAwDETRMKhtRBduev9LKm1xjItWRBBE6Nt9QkIwOTcUzk0Imi8aoMssxbgoTHMtqsFMLta0vPh2N49HyfdelPg6k9uvX/a+Bmggt1qJRNzQFVgjEnkUZDoBmH57VSypjg4AAAAASUVORK5CYII=) no-repeat center center;
  width: 13px;
  padding: 0;
  height: 29px;
  position: relative;
  z-index: 10;
}
ul.ckeditor-buttons li.ckeditor-button-separator a {
  background: #e4e4e4;
  background-image: -webkit-linear-gradient(#e4e4e4, #b4b4b4);
  background-image: linear-gradient(#e4e4e4, #b4b4b4);
  height: 24px;
  margin: 1px 0 0;
  padding: 0;
  position: relative;
  width: 1px;
  z-index: 10;
}
.ckeditor-multiple-buttons .ckeditor-button-separator a {
  width: 2px;
  padding: 0;
  height: 26px;
  margin: 0 10px;
}
.ckeditor-separator {
  background-color: silver;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 5px 0;
  height: 18px;
  width: 1px;
  display: block;
  box-shadow: 1px 0 1px rgba(255, 255, 255, 0.5)
}
.ckeditor-button-arrow {
  width: 0;
  text-align: center;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #333;
  display: inline-block;
  margin: 0 4px 2px;
}
.ckeditor-row-controls {
  float: right; /* LTR */
  font-size: 18px;
  width: 40px;
  text-align: right; /* LTR */
}
[dir="rtl"] .ckeditor-row-controls {
  float: left;
  text-align: left;
}
.ckeditor-row-controls a {
  display: inline-block;
  box-sizing: border-box;
  padding: 6px 2px;
  height: 28px;
  width: 20px;
  line-height: 0.9;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}
